<icepack>

<server name="${name}" kind="cpp" exe="${test.dir}/server" activation="on-demand">

  <variable name="var0" value="val0"/>

  <option>--Test.Test=2</option>
  <option>--Test.Test1=0</option>

  <target name="manual">
    <properties>
      <property name="Mode" value="manual"/>
    </properties>
  </target>

  <adapters>
    <adapter name="Server" endpoints="default">
      <object identity="${name}" type="::Test"/>
    </adapter>
  </adapters>

  <properties>
    <variable name="var0" value="val0prop"/>
    <property name="Variable" value="${var0}"/>
    <property name="Type" value="Server"/>
    <property name="Name" value="${name}"/>
    <property name="NameName" value="${name}${name}"/>
    <property name="NameEscaped" value="$${name}"/>
    <property name="NameEscapeEscaped" value="$$${name}"/> 
    <property name="NameEscapedEscapeEscaped" value="$$$${name}"/> 
    <property name="ManyEscape" value="$$$$$$$${name}"/>
    <property name="Ice.Warn.Connections" value="1"/>
  </properties>

  <target name="target1">
    <properties>
      <variable name="var0" value="val0target1"/>
      <property name="Variable1" value="${var0}"/>
      <property name="Target1" value="1"/>
    </properties>    
  </target>

  <target name="target2">
    <properties>
      <variable name="var0" value="val0target2"/>
      <property name="Variable2" value="${var0}"/>
      <property name="Target2" value="1"/>
    </properties>    
  
    <target name="target22">
      <properties>
        <property name="Target2" value="2"/>
      </properties>    
    </target>

  </target>

  <envs>
    <env>MY_ENV_VARIABLE=12</env>
  </envs>

</server>

</icepack>