<server kind="cpp">

  <target name="manual">
    <activation mode="manual"/>
    <property name="Mode" value="manual"/>
  </target>

  <adapters>
    <adapter name="Server" endpoints="default">
      <offer interface="::Test" identity="${name}"/>
    </adapter>
  </adapters>

  <properties>
    <property name="Type" value="Server"/>
    <property name="Name" value="${name}"/>
    <property name="Ice.ConnectionWarnings" value="1"/>
  </properties>

  <target name="target1">
    <properties>
      <property name="Target1" value="1"/>
    </properties>    
  </target>

  <target name="target2">
    <properties>
      <property name="Target2" value="1"/>
    </properties>    
  </target>

  <target name="ssl">
    <properties>
      <property name="Ice.Plugin.IceSSL" value="IceSSL:create"/>
      <property name="Ice.Default.Protocol" value="ssl"/>
      <property name="IceSSL.Client.CertPath" location="../../../certs"/>
      <property name="IceSSL.Client.Config" value="client_sslconfig.xml"/>
      <property name="IceSSL.Server.CertPath" location="../../../certs"/>
      <property name="IceSSL.Server.Config" value="server_sslconfig.xml"/>
    </properties>
  </target>

</server>