{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "rewrite-require",
            {
                "aliases": {
                    "ice": "ice/src/es5"
                }
            }
        ],
        [
            "@babel/plugin-transform-async-to-generator"
        ]
    ]
}
