{
    "presets": [
        "@babel/preset-env",
    ],
    "plugins": [
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": [
                    "Error",
                    "Promise"
                ]
            }
        ],
        [
            "rewrite-require",
            {
                "aliases": {
                    "ice": "ice/src/es5"
                }
            }
        ],
        [
            "@babel/plugin-transform-async-to-generator"
        ]
    ]
}
