Source: zeroc-ice@debmmver@
Priority: extra
Maintainer: ZeroC, Inc. <support@zeroc.com>
Build-Depends: debhelper (>= 9.0.0),
 libmcpp-dev (>=2.7.2),
 libbz2-dev,
 libexpat1-dev,
 libssl-dev,
 libdb5.3++-dev (>=5.3.28),
 libdb5.3-java (>=5.3.28),
 proguard,
 oracle-java7-installer,
 python2.7-dev,
 ruby1.9.1-dev,
 php5-dev,
 php5-cli,
 javahelper (>= 0.45),
 nodejs,
 libclosure-compiler-java
Standards-Version: 3.9.4
Homepage: http://www.zeroc.com

Package: zeroc-ice-all-runtime
Architecture: all
Section: web
Depends: zeroc-ice-slice (=${binary:Version}),
 libzeroc-ice@debmmver@ (=${binary:Version}),
 libzeroc-freeze@debmmver@ (=${binary:Version}),
 node-zeroc-ice (=${binary:Version}),
 php5-zeroc-ice (=${binary:Version}),
 python-zeroc-ice (=${binary:Version}),
 ruby-zeroc-ice (=${binary:Version}),
 zeroc-glacier2 (=${binary:Version}),
 zeroc-icebox (=${binary:Version}),
 zeroc-icegrid (=${binary:Version}),
 libzeroc-icestorm@debmmver@ (=${binary:Version}),
 zeroc-icepatch2 (=${binary:Version}),
 zeroc-ice-utils (=${binary:Version}),
 zeroc-ice-utils-java (=${binary:Version})
Replaces: libice-3.5-python, python-zeroc-ice (<=3.5.1), icebox
Provides:icebox
Description: Ice (Internet Communications Engine)
 Ice is a modern object-oriented toolkit that enables you to build
 distributed applications with minimal effort. Ice allows you to focus
 your efforts on your application logic while it takes care of all
 interactions with low-level network programming interfaces. With Ice,
 there is no need to worry about details such as opening network
 connections, serializing and deserializing data for network
 transmission, or retrying failed connection attempts (to name but a
 few of dozens of such low-level details).

Package: zeroc-ice-all-dev
Architecture: all
Section: devel
Depends: libzeroc-ice-dev (=${binary:Version}),
 libzeroc-ice-java (=${binary:Version}),
 libjs-zeroc-ice (=${binary:Version}),
 node-zeroc-ice-dev (=${binary:Version}),
 php5-zeroc-ice-dev (=${binary:Version}),
 python-zeroc-ice-dev (=${binary:Version}),
 ruby-zeroc-ice-dev (=${binary:Version}),
Description: Ice development packages
 Ice development packages.

Package: zeroc-ice-slice
Architecture: all
Section: libs
Depends: ${misc:Depends}
Description: Slice files used by ZeroC Ice packages
 Slice files used by ZeroC Ice packages.

Package: libzeroc-ice@debmmver@
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends} 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Ice run time for C++
 The Ice run time for C++.

Package: libzeroc-freeze@debmmver@
Architecture: any
Multi-Arch: same
Section: libs
Pre-Depends: ${misc:Pre-Depends} 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libzeroc-ice@debmmver@ (=${binary:Version}), 
 libdb5.3++ (>=5.3.28)
Description: Freeze persistence service C++ run-time
 Freeze persistence service C++ run-time.

Package: libzeroc-ice-dev
Architecture: any
Multi-Arch: no
Section: devel
Replaces: libice++-dev, ice35-translators, libzeroc-ice35-dev
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 zeroc-ice-slice (=${binary:Version}), 
 libzeroc-ice@debmmver@ (=${binary:Version}), 
 libzeroc-freeze@debmmver@ (=${binary:Version})
Description: Tools, libraries and headers for developing Ice applications in C++
 Tools, libraries and headers for developing Ice applications in C++.

Package: libzeroc-ice-java
Architecture: any
Multi-Arch: foreign
Section: devel
Replaces:libice-java-dev, ice35-translators, libzeroc-ice3.5-java
Depends: ${shlibs:Depends}, ${misc:Depends}, ${java:Depends}, 
 zeroc-ice-slice (=${binary:Version}), 
 libzeroc-ice@debmmver@ (=${binary:Version}), 
Description: Tools for developing Ice applications in Java
 Tools for developing Ice applications in Java.

Package: libjs-zeroc-ice
Architecture: any
Multi-Arch: foreign
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends},
 libzeroc-ice@debmmver@ (=${binary:Version}),
 zeroc-ice-slice (=${binary:Version})
Description: Tools for developing Ice applications in JavaScript
 Tools for developing Ice applications in JavaScript.

Package: node-zeroc-ice
Architecture: all
Section: web
Depends: ${misc:Depends}
Description: JavaScript Ice run time for NodeJS
 JavaScript Ice run time for NodeJS.
 
Package: node-zeroc-ice-dev
Architecture: all
Section: web
Depends: ${misc:Depends}, nodejs, node-zeroc-ice (=${binary:Version}), libjs-zeroc-ice (=${binary:Version})
Description: JavaScript Ice run time for NodeJS
 JavaScript Ice run time for NodeJS.

Package: php5-zeroc-ice
Architecture: any
Multi-Arch: no
Section: php
Replaces:libice3.5-php, php-zeroc-ice
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libzeroc-ice@debmmver@ (=${binary:Version})
Description: The Ice run time for PHP
 The Ice run time for PHP.

Package: php5-zeroc-ice-dev
Architecture: any
Multi-Arch: foreign
Section: devel
Replaces:libice-php-dev, ice35-translators
Depends: php5-cli | php5, ${shlibs:Depends},
 zeroc-ice-slice (=${binary:Version}),
 libzeroc-ice@debmmver@ (=${binary:Version}), 
 php5-zeroc-ice (=${binary:Version})
Description: Tools for developing Ice applications in PHP
 Tools for developing Ice applications in PHP.

 
Package: python-zeroc-ice
Architecture: any
Multi-Arch: no
Section: python
Replaces:libice-3.5-python, python-zeroc-ice (<=3.5.1)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 zeroc-ice-slice (=${binary:Version}),
 libzeroc-ice@debmmver@ (=${binary:Version})
XS-Python-Version: 2.7
Description: The Ice run time for Python
 The Ice run time for Python.

Package: python-zeroc-ice-dev
Architecture: any
Multi-Arch: foreign
Section: devel
Replaces:libice-python-dev, ice35-translators
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 zeroc-ice-slice (=${binary:Version}), 
 libzeroc-ice@debmmver@ (=${binary:Version}),
 python-zeroc-ice (=${binary:Version})
Description: Tools for developing Ice applications in Python
 Tools for developing Ice applications in Python.

Package: ruby-zeroc-ice
Architecture: any
Multi-Arch: no
Section: ruby
Replaces:libice3.5-ruby
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.9.1,
 zeroc-ice-slice (=${binary:Version}),
 libzeroc-ice@debmmver@ (=${binary:Version})
Description: The Ice run time for Ruby
 The Ice run time for Ruby.

Package: ruby-zeroc-ice-dev
Architecture: any
Multi-Arch: foreign
Section: devel
Replaces:libice-ruby-dev, ice35-translators
Depends: ${shlibs:Depends}, ${misc:Depends},
 zeroc-ice-slice (=${binary:Version}), 
 libzeroc-ice@debmmver@ (=${binary:Version}),
 ruby-zeroc-ice (=${binary:Version})
Description: Tools for developing Ice applications in Ruby
 Tools for developing Ice applications in Ruby.

Package: zeroc-glacier2
Architecture: any
Multi-Arch: foreign
Section: web
Replaces:glacier2, ice35-services
Depends: ${shlibs:Depends}, ${misc:Depends},
 libzeroc-ice@debmmver@ (=${binary:Version})
Description: The Glacier2 router daemon
 Glacier2 is the firewall traversal service for the Internet Communications
 Engine (Ice).

Package: zeroc-icebox
Architecture: any
Multi-Arch: no
Section: web
Replaces:icebox
Provides:icebox
Depends: ${shlibs:Depends}, ${misc:Depends},
 libzeroc-ice@debmmver@ (=${binary:Version})
Description: IceBox C++ server
 IceBox C++ server.

Package: zeroc-icegrid
Architecture: any
Multi-Arch: foreign
Section: web
Replaces:icegrid, ice35-services
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libzeroc-ice@debmmver@ (=${binary:Version}), 
 libzeroc-icestorm@debmmver@ (=${binary:Version}), 
 libzeroc-freeze@debmmver@ (=${binary:Version})
Description: IceGrid is the server deployment and monitoring for Ice
 IceGrid is the server deployment and monitoring for the Internet 
 Communications Engine (Ice).

Package: libzeroc-icestorm@debmmver@
Architecture: any
Multi-Arch: same
Section: web
Pre-Depends: ${misc:Pre-Depends} 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libzeroc-ice@debmmver@ (=${binary:Version}),
 libzeroc-freeze@debmmver@ (=${binary:Version})
Description: IceStorm publish–subscribe event distribution service for Ice
 IceStorm publish–subscribe event distribution service for the Internet 
 Communications Engine (Ice).

Package: zeroc-icepatch2
Architecture: any
Multi-Arch: foreign
Section: web
Replaces:icepatch2, ice35-services
Depends: ${shlibs:Depends}, ${misc:Depends},
 libzeroc-ice@debmmver@ (=${binary:Version})
Description: The software distribution and patching service for Ice.
 The software distribution and patching service for the Internet 
 Communications Engine (Ice).

Package: zeroc-ice-utils
Architecture: any
Multi-Arch: foreign
Section: admin
Replaces:ice-utils, icebox, ice35-services
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 libzeroc-ice@debmmver@ (=${binary:Version}), 
 libzeroc-freeze@debmmver@ (=${binary:Version}), 
 libzeroc-icestorm@debmmver@ (=${binary:Version})
Description: Ice utilities and admin tools
 Ice utilities and admin tools.

Package: zeroc-ice-utils-java
Architecture: all
Section: admin
Replaces:ice-utils, icegrid-gui
Depends: ${java:Depends}, ${misc:Depends}, ${python:Depends}, 
 zeroc-ice-utils (=${binary:Version})
Description: IceGrid Admin graphical client for IceGrid
