#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_OPTIONS = nocheck notest -j8

#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

export OPTIMIZE=yes
export prefix=/usr
export CLASSPATH=/usr/share/java/proguard.jar
export DESTDIR=$(CURDIR)/debian/tmp
export APPEND_VERSION_SUFFIX=yes
export NODE=nodejs
export GRADLE_HOME=/home/jose/.gradle

CPP11_DESTDIR = $(CURDIR)/debian/tmp-cpp11
CPP11_LIB_NAMES = 	libFreeze \
	libGlacier2 \
	libIce \
	libIceBox \
	libIceDiscovery \
	libIceGrid \
	libIcePatch2 \
	libIceSSL \
	libIceStorm \
	libIceStormService \
	libIceUtil

ifeq ($(DEB_HOST_MULTIARCH),i386-linux-gnu)

ICEBOX = icebox32
icebox_install:
	mv $(DESTDIR)$(prefix)/bin/icebox $(DESTDIR)$(prefix)/bin/$(ICEBOX)
	@echo usr/bin/$(ICEBOX) > $(CURDIR)/debian/zeroc-icebox.install
	@echo usr/bin/$(ICEBOX)++11 >> $(CURDIR)/debian/zeroc-icebox.install
	@echo usr/share/man/man1/icebox.1 >> $(CURDIR)/debian/zeroc-icebox.install
else
ICEBOX = icebox
icebox_install:
	@echo usr/bin/$(ICEBOX) > $(CURDIR)/debian/zeroc-icebox.install
	@echo usr/bin/$(ICEBOX)++11 >> $(CURDIR)/debian/zeroc-icebox.install
	@echo usr/share/man/man1/icebox.1 >> $(CURDIR)/debian/zeroc-icebox.install
endif

%:
	dh $@ --with python2 --with php5 --with javahelper

override_dh_auto_build:
	cp -r cpp cpp11
	cd cpp11/src && CPP11=yes $(MAKE) -j8
	$(MAKE) embedded_runpath_prefix="" PYTHON_LIBS="" -j8

override_dh_auto_install:
	cd cpp11 && DESTDIR=$(CPP11_DESTDIR) CPP11=yes $(MAKE) install
	#
	# Continue with regular dh_auto_install
	#
	dh_auto_install

override_dh_install: icebox_install
	mkdir -p $(DESTDIR)$(prefix)/share/java
	mv $(DESTDIR)$(prefix)/lib/*.jar $(DESTDIR)$(prefix)/share/java

	mkdir -p $(DESTDIR)$(prefix)/lib/$(DEB_HOST_MULTIARCH)
	mkdir -p $(DESTDIR)$(prefix)/lib/$(DEB_HOST_MULTIARCH)/c++11
	
	mv $(DESTDIR)$(prefix)/lib/lib*.so* $(DESTDIR)$(prefix)/lib/$(DEB_HOST_MULTIARCH)

	#
	# Move C++11 libarries and binaries to their locations
	#
	for name in $(CPP11_LIB_NAMES) ; \
        do \
            mv $(CPP11_DESTDIR)$(prefix)/lib/$$name++11*.so* $(DESTDIR)$(prefix)/lib/$(DEB_HOST_MULTIARCH) ; \
            mv $(CPP11_DESTDIR)$(prefix)/lib/c++11/$$name.so $(DESTDIR)$(prefix)/lib/$(DEB_HOST_MULTIARCH)/c++11/$$name.so ; \
        done ;

	cp $(CPP11_DESTDIR)$(prefix)/bin/icebox $(DESTDIR)$(prefix)/bin/$(ICEBOX)++11

	mkdir -p $(DESTDIR)$(prefix)/bin
	cp java/bin/icegridgui.deb $(DESTDIR)$(prefix)/bin/icegridgui && \
	chmod 755 $(DESTDIR)$(prefix)/bin/icegridgui

	mkdir -p $(DESTDIR)/etc/php5/mods-available

	mkdir -p $(DESTDIR)/etc
	cp debian/zeroc-glacier2.glacier2router.conf $(DESTDIR)/etc/glacier2router.conf
	cp debian/zeroc-icegrid.icegridnode.conf $(DESTDIR)/etc/icegridnode.conf
	cp debian/zeroc-icegrid.icegridregistry.conf $(DESTDIR)/etc/icegridregistry.conf

	mkdir -p $(DESTDIR)/etc/init.d
	cp debian/zeroc-glacier2.glacier2router $(DESTDIR)/etc/init.d/glacier2router
	chmod 755 $(DESTDIR)/etc/init.d/glacier2router

	cp debian/zeroc-icegrid.icegridnode $(DESTDIR)/etc/init.d/icegridnode
	chmod 755 $(DESTDIR)/etc/init.d/icegridnode

	cp debian/zeroc-icegrid.icegridregistry $(DESTDIR)/etc/init.d/icegridregistry
	chmod 755 $(DESTDIR)/etc/init.d/icegridregistry

	mkdir -p $(DESTDIR)/var/lib/ice/icegrid/registry
	mkdir -p $(DESTDIR)/var/lib/ice/icegrid/node1

	#
	# Continue with regular dh_install
	#
	dh_install

override_dh_clean:
	dh_clean
	rm -rf cpp11
	rm -rf java/buildSrc/build
	rm -rf java/buildSrc/.gradle
	rm -rf java/.gradle/2.1/taskArtifacts/cache.properties.lock
	rm -rf java/.gradle/2.1/taskArtifacts/*
	rm -rf debian/tmp-cpp11