<!--
 **********************************************************************

 Copyright (c) 2003-2005 ZeroC, Inc. All rights reserved.

 This copy of Ice is licensed to you under the terms described in the
 ICE_LICENSE file included in this distribution.

 **********************************************************************
-->

<icepack>

  <server name="${name}" classname="Server" kind="java" activation="on-demand">

    <!-- ============================================================= -->
    <!-- Register the server adapter named Hello and the HelloFactory  -->
    <!-- object hosted by this server.                                 -->
    <!-- ============================================================= -->
    <adapters>
      <adapter name="Hello" endpoints="default" register="true">
        <object identity="${name}" type="::Demo::HelloFactory"/>
      </adapter>
    </adapters>

    <!-- ============================================================= -->
    <!-- The HelloFactory object identity is obtained from the         -->
    <!-- Identity property defined here. We defined the identity of    -->
    <!-- the HelloFactory object as the name of the server.            -->
    <!-- ============================================================= -->
    <properties>
      <property name="Identity" value="${name}"/>
      <property name="Ice.ThreadPool.Server.Size" value="5"/>
    </properties>
  
    <target name="debug">
      <properties>
        <property name="Ice.Trace.Location" value="1"/>
      </properties>
    </target>

  </server>

</icepack>
