Checks:
'-*,
  clang-analyzer-*,
  -clang-diagnostic-shadow-uncaptured-local,
  cert-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-avoid-endl
'
WarningsAsErrors:  ''
HeaderFilterRegex: ''
UseColor: true
FormatStyle: 'file'
CheckOptions:
  - { key: modernize-use-nullptr.NullMacros, value: 'NULL' }
  # std::exception_ptr is a cheap to copy, pointer-like type; we pass it by value all the time.
  - { key: performance-unnecessary-value-param.AllowedTypes, value: 'std::exception_ptr' }
