Checks:
'-*,
  clang-analyzer-*,
  -clang-diagnostic-shadow-uncaptured-local,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  cert-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  -modernize-use-default-member-init,
  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
'
WarningsAsErrors:  '*'
HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: 'include/lmdb.h|Grammar.h'
UseColor: true
FormatStyle: 'file'
ExtraArgs: ['-std=c++17']
CheckOptions:
  modernize-use-nullptr.NullMacros: 'NULL'
  # std::exception_ptr is a cheap to copy, pointer-like type; we pass it by value all the time.
  performance-unnecessary-value-param.AllowedTypes: 'exception_ptr$;'
