# Ignore objects and archives.
*.[oa]
*.obj
*.dll
*.ilk
*.so
*.sl
*.dylib
*.pyc
*.class
*.exe
*.mdb
*.pdb
*.tds
*.bak
*.ncb
# .sdf is the Visual Studio 2010 equivalent to .ncb
*.sdf
*.opt
*.user
*.res
*.exp
.gdb_history
.DS_Store
core
/*/dist
generated
generated.test
cgenerated
sgenerated
/java/depcache
/java/lib
/cpp/bin
/cpp/lib
/javae/jdk/lib
/javae/midp/lib
/cppe/bin
/cppe/lib
/cs/bin
/cs/Assemblies
*#
.#*
*~
*.lib
*.idb
*.suo
*.xap
core.*
cpp/src/Ice/EventLoggerMsg.res
tmp_*.xml
obj
*.RES
ClientBin
vcproj
.metadata
.DS_Store
# VIM swap file
*.swp

# OS X (Desktop Service Store)
.DS_Store
cpp/SDKs
cpp/demo/ipch
cpp/demo/Debug

cpp/test/IceBox/configuration/build.txt

js/lib
