# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# The test files from the unicode tests must be lf only.
*.utf16be text eol=lf
*.utf16le text eol=lf
*.utf32be text eol=lf
*.utf32le text eol=lf
*.utf8 text eol=lf

# Files which are never exported.
/ndk export-ignore
/perf export-ignore
/eclipse export-ignore
/protobuf export-ignore
/distribution export-ignore

/certs/cakey.pem export-ignore
/vsaddin/*.sln export-ignore
/vsaddin/src/*.csproj export-ignore

*.iml export-ignore
expect.py export-ignore
allDemos.py export-ignore

.gitignore export-ignore
.gitattributes export-ignore

distribution/bin/fixCopyright.py export-ignore
distribution/bin/fixVersion.py export-ignore
distribution/lib/FixUtil.py export-ignore
distribution/makedist.py export-ignore
cpp/config/makegitignore.py export-ignore
rb/config/Make.rules.Darwin export-ignore
cpp/src/slice2confluence export-ignore
java/test/ejb export-ignore
