# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# The test files from the unicode tests must be lf only.
*.utf16be text eol=lf
*.utf16le text eol=lf
*.utf32be text eol=lf
*.utf32le text eol=lf
*.utf8 text eol=lf

# Files which are never exported.
/distribution/demoscript export-ignore

/certs/cakey.pem export-ignore

*.iml export-ignore

.gitignore export-ignore
.gitattributes export-ignore

cpp/config/makegitignore.py export-ignore
cpp/src/slice2confluence export-ignore
java/test/ejb export-ignore
