# Ignore objects and archives.
*.[oa]
*.obj
*.dll
*.ilk
*.so
*.sl
*.dylib
*.pyc
*.class
*.exe
*.mdb
*.pdb
*.tds
*.bak
*.ncb
*.opt
*.user
*.res
.gdb_history
.DS_Store
core
/*/dist
generated
generated.test
cgenerated
sgenerated
/java/depcache
/java/lib
/cpp/bin
/cpp/lib
/javae/jdk/lib
/javae/midp/lib
/cppe/bin
/cppe/lib
/cs/bin
*#
.#*
*~
*.lib
*.idb
*.suo
core.*
cpp/src/Ice/EventLoggerMsg.res
tmp_*.xml
obj
*.RES
ClientBin
vcproj
.metadata
.DS_Store
# VIM swap file
*.swp
