<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zeroc-testing" value="https://download.zeroc.com/nexus/repository/nuget-thirdparty/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="zeroc-testing">
      <package pattern="ZeroC.Expat" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
