<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="php-7.1-nts" version="7.1.17" targetFramework="native" />
  <package id="php-7.1-ts" version="7.1.17" targetFramework="native" />
  <package id="php-7.2-nts" version="7.2.8" targetFramework="native" />
  <package id="php-7.2-ts" version="7.2.8" targetFramework="native" />
</packages>