<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="php-7.2-nts" version="7.2.8" targetFramework="native" />
  <package id="php-7.2-ts" version="7.2.8" targetFramework="native" />
  <package id="php-7.3-nts" version="7.3.0" targetFramework="native" />
  <package id="php-7.3-ts" version="7.3.0" targetFramework="native" />
</packages>