Source: ice@mmver@++
Section: devel
Priority: extra
Maintainer: ZeroC, Inc. <support@zeroc.com>
Build-Depends: debhelper (>= 8.0.0), libmcpp-dev (>=2.7.2), libbz2-dev, libssl-dev
Standards-Version: 3.9.4
Homepage: http://www.zeroc.com

Package: ice@mmver@-common
Architecture: all
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: ice-slice, ice32-slice, ice33-slice, ice34-slice
Conflicts: ice-slice, ice32-slice, ice33-slice, ice34-slice
Description: Files common to all Ice packages
 Files common to all Ice packages.

Package: libice@mmver@++
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Ice run time for C++
 The Ice run time for C++.

Package: libice++-dev
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, ice@mmver@-common (=${binary:Version}), 
 libice@mmver@++ (=${binary:Version})
Replaces: libzeroc-ice-dev, libzeroc-ice32-dev, libzeroc-ice33-dev, libzeroc-ice34-dev,
 ice-translators, ice32-translators, ice33-translators, ice34-translators
Conflicts: libzeroc-ice-dev, libzeroc-ice32-dev, libzeroc-ice33-dev, libzeroc-ice34-dev,
  ice-translators, ice32-translators, ice33-translators, ice34-translators
Description: Tools, libraries and headers for developing Ice applications in C++
 Tools, libraries and headers for developing Ice applications in C++.

Package: icebox
Architecture: any
Section: network
Depends: ${shlibs:Depends}, ${misc:Depends}, libice@mmver@++ (=${binary:Version})
Description: IceBox C++ server
 IceBox C++ server.
