<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
	<add name="Console"
	type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
    <switches>
      <add name="IceLogger" value="Info"/>
    </switches>
  </system.diagnostics>
</configuration>

