<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46e81031-9c5b-4caa-92cb-57fbccb3dc93" Publisher="CN=ZeroC" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Glacier2 Chat Demo</DisplayName>
    <PublisherDisplayName>ZeroC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="chat.App">
      <VisualElements DisplayName="Glacier2 Chat Demo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="chat" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.certificates">
      <Certificates>
        <Certificate StoreName="Root" Content="cacert.pem" />
        <Certificate StoreName="CA" Content="cacert.pem" />
        <TrustFlags ExclusiveTrust="true" />
      </Certificates>
    </Extension>
  </Extensions>
</Package>