<server kind="java">

  <classname>Server</classname>

  <adapters>
    <adapter name="Hello" endpoints="tcp:udp" register="true">
      <object identity="${name}" type="::Hello"/>
    </adapter>
  </adapters>

  <properties>
    <!-- The identity of the hello object will be the name of the server -->
    <property name="Identity" value="${name}"/>
  </properties>
 
  <target name="debug">
    <properties>
      <property name="Ice.Network.Trace" value="1"/>
      <property name="Ice.Network.Protocol" value="1"/>
    </properties>
  </target>
  
</server>
