#
# OpenSSL configuration file.
#

###############################################################################
###  CA Configuration
###############################################################################

[ ca ]
default_ca = ice


[ ice ]
dir              = openssl                  # Where everything is kept.
database         = $dir/ca/index.txt        # Database index file.
new_certs_dir    = $dir/ca                  # Default loc for new certs.
serial           = $dir/ca/serial           # The current serial number.

default_days     = 365                      # How long certs are valid.
default_md       = md5                      # The Message Digest type.
preserve         = yes                      # Keep passed DN ordering?

policy           = ca_policy
x509_extensions  = certificate_extensions


[ ca_policy ]
countryName            = match
stateOrProvinceName    = match
organizationName       = match
organizationalUnitName = optional
emailAddress           = optional
commonName             = supplied


[ certificate_extensions ]
basicConstraints = CA:false

# PKIX recommendation.
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always


[ req ]
default_bits        = 1024
default_md          = md5
prompt              = no
distinguished_name  = root_ca_distinguished_name
x509_extensions     = root_ca_extensions


[ root_ca_distinguished_name ]
countryName            = US
stateOrProvinceName    = Some State
localityName           = Somewhere
organizationName       = Your Company
organizationalUnitName = Development
commonName             = Ice Server
emailAddress           = iceserver@some.net


[ root_ca_extensions ]
basicConstraints = CA:false

# PKIX recommendation.
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

