<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mcpp.v100" version="2.7.2.15" targetFramework="native" />
  <package id="mcpp.v120" version="2.7.2.15" targetFramework="native" />
  <package id="mcpp.v140" version="2.7.2.15" targetFramework="native" />
  <package id="mcpp.v141" version="2.7.2.15" targetFramework="native" />
</packages>