<?xml version="1.0"?>
  <configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Glacier2" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\Glacier2.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Ice" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\Ice.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IcePatch2" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\IcePatch2.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IceStorm" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\IceStorm.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IceBox" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\IceBox.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IceGrid" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\IceGrid.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IceSSL" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.3.51.0" href="..\..\..\..\..\cs\bin\IceSSL.dll"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
