<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zeroc.ice.v120" version="3.7.2" targetFramework="native" />
  <package id="zeroc.ice.v140" version="3.7.2" targetFramework="native" />
  <package id="zeroc.ice.v141" version="3.7.2" targetFramework="native" />
  <package id="zeroc.icebuilder.msbuild" version="5.0.4" targetFramework="native" />
</packages>