<!--
 **********************************************************************

 Copyright (c) 2003-2005 ZeroC, Inc. All rights reserved.

 This copy of Ice is licensed to you under the terms described in the
 ICE_LICENSE file included in this distribution.

 **********************************************************************
-->

<icegrid>

  <application name="Simple">

     <variable name="id" value="app"/>
     <variable name="name" value="test"/>
     <variable name="name2" value="${name}"/>

     <server-template id="ServerTemplate" name="${name}" exe="./server"> 
       <parameter name="name"/>
       <adapters>
	 <adapter name="Hello" endpoints="tcp" register="true">
	   <object identity="${server}-hello1" type="::Demo::Hello"/>
	 </adapter>
       </adapters>
       <properties>
	 <property name="Identity" value="${server}-hello1"/>
	 <property name="Prop" value="${id}"/>
       </properties>
     </server-template>

     <server-template id="IceBoxTemplate" name="${name}" interpreter="icebox" endpoints="default">
       <parameter name="name"/>

       <service-instance template="HelloService" name="Hello"/>

       <service name="HelloService2" entry="HelloService:create">
	 <parameter name="name"/>
	 <adapters>
	   <adapter name="Hello" endpoints="tcp">
	     <object identity="hello3" type="::Demo::Hello"/>
	   </adapter>
	 </adapters>
	 <properties>
	   <property name="Identity" value="hello3"/>
	   <property name="Name" value="${service}"/>
	 </properties>    
       </service>

     </server-template>

     <service-template id="HelloService" name="${name}" entry="HelloService:create">
       <parameter name="name"/>
       <adapters>
	 <adapter name="Hello" endpoints="tcp">
	   <object identity="hefllo2" type="::Demo::Hello"/>
	 </adapter>
       </adapters>
       <properties>
	 <property name="Identity" value="hello2"/>
	 <property name="Name" value="${service}"/>
       </properties>    
     </service-template>
 
     <node name="node">
       <variable name="node1" value="test"/>
       <variable name="name" value="$${test}"/>
       <variable name="name2" value="${name}"/>

       <server-instance template="IceBoxTemplate" name="IceBox"/>
       <server-instance template="ServerTemplate" name="Server"/>
       <server-instance template="ServerTemplate" name="Server2"/>
     </node>

  </application>

</icegrid>
