<!--
 **********************************************************************

 Copyright (c) 2003-2005 ZeroC, Inc. All rights reserved.

 This copy of Ice is licensed to you under the terms described in the
 ICE_LICENSE file included in this distribution.

 **********************************************************************
-->

<icegrid>

  <application name="Simple">

     <server-template id="ServerTemplate"> 
       <parameter name="name"/>
       <server id="${name}" exe="./server">
	 <adapter name="Hello" endpoints="tcp" register="true">
	   <object identity="${server}-hello1" type="::Demo::Hello"/>
  	 </adapter>
         <property name="Identity" value="${server}-hello1"/>
       </server>
     </server-template>

     <service-template id="HelloService">
       <parameter name="name"/>
       <service name="${name}" entry="HelloService:create">
	 <adapter name="Hello" endpoints="tcp">
	   <object identity="hello2" type="::Demo::Hello"/>
	 </adapter>
	 <property name="Identity" value="hello2"/>
	 <property name="Name" value="${service}"/>
       </service>
     </service-template>

     <server-template id="IceBoxTemplate">
       <parameter name="name"/>
       <icebox id="${name}" exe="icebox" interpreter="icebox" endpoints="default">
         <service-instance template="HelloService" name="Hello"/>
         <service name="HelloService2" entry="HelloService:create">
	   <adapter name="Hello" endpoints="tcp">
	     <object identity="hello3" type="::Demo::Hello"/>
	   </adapter>
	   <property name="Identity" value="hello3"/>
	   <property name="Name" value="${service}"/>
         </service>
       </icebox>
     </server-template>
 
     <node name="node">

       <server-instance template="IceBoxTemplate" name="IceBox"/>
       <server-instance template="ServerTemplate" name="Server"/>
       <server-instance template="ServerTemplate" name="Server2"/>

       <server id="node-1" exe="icegridnode">
	 <adapter name="IceGrid.Node" endpoints="default"/>
	 <property name="IceGrid.Node.Name" value="${server}"/>
	 <property name="IceGrid.Node.Data" value="db/${server}"/>
       </server>

     </node>

  </application>

</icegrid>
