<icepack>

  <server name="${name}" kind="cpp" exe="${ice.dir}/demo/IcePack/simple/server" activation="on-demand">
 
    <adapters>
      <adapter name="Hello" endpoints="tcp:udp:ssl" register="true">
        <object identity="${name}" type="::Demo::Hello"/>
      </adapter>
    </adapters>
  
    <properties>
      <!-- The identity of the hello object will be the name of the server -->
      <property name="Identity" value="${name}"/>

      <property name="Ice.Plugin.IceSSL" value="IceSSL:create"/>
      <property name="IceSSL.Server.CertPath" value="${ice.dir}/certs"/>
      <property name="IceSSL.Server.Config" value="sslconfig.xml"/>
    </properties>
 
    <target name="debug">
      <properties>
        <property name="Ice.Trace.Network" value="1"/>
        <property name="Ice.Trace.Protocol" value="1"/>
      </properties>
    </target>
  
  </server>

</icepack>
