<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <CustomAction
            Id="LaunchReleaseNotes"
            Directory="WindowsFolder"
            ExeCommand="explorer.exe $(IceReleaseNotesUrl)"
            Execute="immediate"
            Return="asyncNoWait"
            Impersonate="yes" />
    </Fragment>
</Wix>
