<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Package
        Name="Ice Services $(Version)"
        Manufacturer="ZeroC, Inc."
        Version="$(Version).0"
        InstallerVersion="500"
        Compressed="yes"
        ProductCode="A88CEE67-24BF-42CE-9D2D-7427DDEE395E"
        UpgradeCode="B7AB6233-5E08-42CA-9003-912FD3432ACA"
        Id="Ice_Services_$(Version)">

        <SummaryInformation
            Description="Ice Services $(Version)"
            Comments="Ice Services $(Version) MSI Installer"
            Keywords="DataStorm, Glacier2, Ice, IceBridge, IceGrid, IceStorm" />

        <!-- Embed CAB files in MSI -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Default settings -->
        <Property Id="ADD_TO_PATH" Value="1" />

        <!-- Reference the UI Fragment -->
        <PropertyRef Id="UiFragment"/>

        <!-- Add components to the MainFeature -->
        <Feature Id="MainFeature" Title="Ice" Level="1">
            <ComponentGroupRef Id="InstallFolderComponents" />
            <ComponentGroupRef Id="StartMenuComponents"/>
            <MergeRef Id="VC143CRT"/>
            <ComponentRef Id="AddToPath" />
        </Feature>

        <!-- Notify applications of the environment changes. Opened command prompt windows would not see the Env updates
             unless RefreshEnv is called from the given command prompt. -->
        <util:BroadcastEnvironmentChange />
    </Package>
</Wix>
