#
# Sample configuration file for the Glacier2 router service
#

#
# Set the instance name. The name you specify here must be used
# in the client's locator proxy, such as:
#
# Ice.Default.Locator=DemoGlacier2Router/Locator ...
#
Glacier2.InstanceName=DemoGlacier2Router

#
# The client-visible endpoint of Glacier2. This should be an endpoint
# visible from the public Internet, and it should be secure. To use
# SSL, configure the SSL endpoint and enable the IceSSL plug-in.
#
# IANA-registered TCP ports for the Glacier2 router:
# - 4063 (insecure)
# - 4064 (secure, using SSL)
#
Glacier2.Client.Endpoints=tcp -p 4063 -h localhost
#Glacier2.Client.Endpoints=ssl -p 4064 -h localhost

#
# The server-visible endpoint of Glacier2. This endpoint is only
# required if callbacks are needed (leave empty otherwise). This
# should be an endpoint on an internal network (like 192.168.x.x), or
# on the loopback, so that the endpoint is not directly accessible from
# the Internet.
#
Glacier2.Server.Endpoints=tcp -h localhost

#
# This permissions verifier allows any user-id / password combination;
# this is not recommended for production!
#
Glacier2.PermissionsVerifier=DemoGlacier2Router/NullPermissionsVerifier

#
# The timeout for inactive sessions. If any client session is inactive
# for longer than this value, the session expires and is removed. The
# unit is seconds.
#
Glacier2.SessionTimeout=30

#
# Glacier2 always disables active connection management so there is no
# need to configure this manually. Connection retry does not need to
# be disabled, as it's safe for Glacier2 to retry outgoing connections
# to servers. Retry for incoming connections from clients must be
# disabled in the clients.
#

#
# Various settings to trace requests, overrides, etc.
#
Glacier2.Client.Trace.Request=1
Glacier2.Server.Trace.Request=1
Glacier2.Client.Trace.Override=1
Glacier2.Server.Trace.Override=1
Glacier2.Client.Trace.Reject=1
Glacier2.Trace.Session=1
Glacier2.Trace.RoutingTable=1

#
# Warn about connection exceptions
#
Ice.Warn.Connections=1

#
# Network Tracing
#
# 0 = no network tracing
# 1 = trace connection establishment and closure
# 2 = like 1, but more detailed
# 3 = like 2, but also trace data transfer
#
#Ice.Trace.Network=1

#
# Protocol Tracing
#
# 0 = no protocol tracing
# 1 = trace protocol messages
#
#Ice.Trace.Protocol=1

#
# Security Tracing
#
# 0 = no security tracing
# 1 = trace messages
#
#IceSSL.Trace.Security=1

#
# SSL Configuration
#
#Ice.Plugin.IceSSL=IceSSL:createIceSSL

#IceSSL.DefaultDir=<path to certs dir>

#IceSSL.CAs=cacert.pem
#IceSSL.CertFile=server.p12
