#
# Copyright (c) 2007-2014 ZeroC, Inc. All rights reserved.
#

[Unit]
Description=The IceGrid registry daemon.\
IceGrid is the server deployment and monitoring for the Internet\
Communications Engine (Ice). An IceGrid domain consists of one master\
registry, zero or more slave registries, and zero or more IceGrid nodes.
Documentation=man:icegridregistry(1)
Documentation=http://doc.zeroc.com/display/Ice/icegridregistry
Before=icegridnode.service
After=syslog.target network.target

[Service]
ExecStart=/bin/icegridregistry --Ice.Config=/etc/icegridregistry.conf
KillMode=process
User=ice

[Install]
WantedBy=multi-user.target
