<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanonicalName</key>
	<string>ice4.0-iphonesimulator</string>
	<key>DefaultProperties</key>
	<dict>
		<key>PLATFORM_NAME</key>
		<string>iphonesimulator</string>
		<key>GCC_PREPROCESSOR_DEFINITIONS</key>
		<array>
			<string>ICE_STATIC_LIBS</string>
		</array>
	</dict>
	<key>DisplayName</key>
	<string>Ice 4.0 for iOS Simulator</string>
	<key>IsBaseSDK</key>
	<string>NO</string>
	<key>Version</key>
	<string>4.0.0-alpha.0</string>
</dict>
</plist>
