<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternateSDK</key>
	<string>Ice SDK 3.7.0</string>
	<key>CanonicalName</key>
	<string>Ice SDK 3.7.0</string>
	<key>CustomProperties</key>
	<dict/>
	<key>DefaultProperties</key>
	<dict>
		<key>PLATFORM_NAME</key>
		<string>iPhoneSimulator</string>
	</dict>
	<key>DisplayName</key>
	<string>Ice SDK 3.7.0</string>
	<key>IsBaseSDK</key>
	<string>NO</string>
	<key>MinimumSupportedToolsVersion</key>
	<string>6.0</string>
	<key>Version</key>
	<string>3.7.0</string>
</dict>
</plist>
