
#
# Metrics sort
#
IceGridGUI.Metrics = Topic Subscriber Dispatch Invocation Connection Thread ConnectionEstablishment EndpointLookup

#
# Metrics Display Names
#
IceGridGUI.Metrics.Topic = Topic
IceGridGUI.Metrics.Subscriber = Subscriber
IceGridGUI.Metrics.Dispatch = Operation Dispatch
IceGridGUI.Metrics.Invocation = Remote Invocations
IceGridGUI.Metrics.Connection = Connections
IceGridGUI.Metrics.Thread = Threads
IceGridGUI.Metrics.ConnectionEstablishment = Connection Establishments
IceGridGUI.Metrics.EndpointLookup = Endpoint Lookups

#
# Dispatch fields
#
IceGridGUI.Metrics.Dispatch.fields = id current total average averageLifetime userException failures

IceGridGUI.Metrics.Dispatch.id.columnName = Identity

IceGridGUI.Metrics.Dispatch.userException.columnName = User Exception

IceGridGUI.Metrics.Dispatch.current.columnName = Current

IceGridGUI.Metrics.Dispatch.total.columnName = Total

IceGridGUI.Metrics.Dispatch.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Dispatch.average.dataField = total
IceGridGUI.Metrics.Dispatch.average.columnName = Avg (Req/s)
IceGridGUI.Metrics.Dispatch.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.Dispatch.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Dispatch.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.Dispatch.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.Dispatch.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Dispatch.failures.columnName = Failures

#
# Invocation fields
#
IceGridGUI.Metrics.Invocation.fields = id current total remotes average averageLifetime userException failures

IceGridGUI.Metrics.Invocation.id.columnName = Identity

IceGridGUI.Metrics.Invocation.userException.columnName = User Exception

IceGridGUI.Metrics.Invocation.current.columnName = Current

IceGridGUI.Metrics.Invocation.total.columnName = Total

IceGridGUI.Metrics.Invocation.remotes.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$SubMetricsField
IceGridGUI.Metrics.Invocation.remotes.columnName = Remotes

    #
    # Remotes sub metric
    #
    IceGridGUI.Metrics.Invocation.remotes.fields = id current total failures
    IceGridGUI.Metrics.Invocation.remotes.id.columnName = Identity
    IceGridGUI.Metrics.Invocation.remotes.current.columnName = Current
    IceGridGUI.Metrics.Invocation.remotes.total.columnName = Total
    IceGridGUI.Metrics.Invocation.remotes.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
    IceGridGUI.Metrics.Invocation.remotes.average.scaleFactor = 1000.0d
    IceGridGUI.Metrics.Invocation.remotes.average.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.Invocation.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Invocation.average.dataField = total
IceGridGUI.Metrics.Invocation.average.columnName = Avg (Invocations/s)
IceGridGUI.Metrics.Invocation.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.Invocation.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Invocation.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.Invocation.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.Invocation.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Invocation.failures.columnName = Failures

#
# Connection fields
#
IceGridGUI.Metrics.Connection.fields = id current total receivedBytes receivedSpeed sentBytes sentSpeed average averageLifetime failures

IceGridGUI.Metrics.Connection.id.columnName = Identity

IceGridGUI.Metrics.Connection.current.columnName = Current

IceGridGUI.Metrics.Connection.total.columnName = Total

IceGridGUI.Metrics.Connection.receivedBytes.columnName = RxBytes

IceGridGUI.Metrics.Connection.receivedSpeed.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Connection.receivedSpeed.dataField = receivedBytes
IceGridGUI.Metrics.Connection.receivedSpeed.columnName = Rx (Bytes/s)
IceGridGUI.Metrics.Connection.receivedSpeed.scaleFactor = 1000.0d

IceGridGUI.Metrics.Connection.sentBytes.columnName = TxBytes

IceGridGUI.Metrics.Connection.sentSpeed.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Connection.sentSpeed.dataField = sentBytes
IceGridGUI.Metrics.Connection.sentSpeed.columnName = Tx (Bytes/s)
IceGridGUI.Metrics.Connection.sentSpeed.scaleFactor = 1000.0d

IceGridGUI.Metrics.Connection.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Connection.average.dataField = total
IceGridGUI.Metrics.Connection.average.columnName = Avg (Connections/s)
IceGridGUI.Metrics.Connection.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.Connection.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Connection.averageLifetime.scaleFactor = 1000000.0d
IceGridGUI.Metrics.Connection.averageLifetime.columnName = Avg Lifetime (s)

IceGridGUI.Metrics.Connection.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Connection.failures.columnName = Failures

#
# Thread fields
#
IceGridGUI.Metrics.Thread.fields = id current total inUseForIO inUseForUser inUseForOther average averageLifetime failures

IceGridGUI.Metrics.Thread.id.columnName = Identity

IceGridGUI.Metrics.Thread.current.columnName = Current

IceGridGUI.Metrics.Thread.total.columnName = Total

IceGridGUI.Metrics.Thread.inUseForIO.columnName = IO

IceGridGUI.Metrics.Thread.inUseForUser.columnName = User

IceGridGUI.Metrics.Thread.inUseForOther.columnName = Other

IceGridGUI.Metrics.Thread.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Thread.average.dataField = total
IceGridGUI.Metrics.Thread.average.columnName = Avg (Threads/s)
IceGridGUI.Metrics.Thread.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.Thread.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Thread.averageLifetime.scaleFactor = 1000000.0d
IceGridGUI.Metrics.Thread.averageLifetime.columnName = Avg Lifetime (s)

IceGridGUI.Metrics.Thread.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Thread.failures.columnName = Failures

#
# ConnectionEstablishment fields
#
IceGridGUI.Metrics.ConnectionEstablishment.fields = id current total average averageLifetime failures

IceGridGUI.Metrics.ConnectionEstablishment.id.columnName = Identity

IceGridGUI.Metrics.ConnectionEstablishment.current.columnName = Current

IceGridGUI.Metrics.ConnectionEstablishment.total.columnName = Total

IceGridGUI.Metrics.ConnectionEstablishment.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.ConnectionEstablishment.average.dataField = total
IceGridGUI.Metrics.ConnectionEstablishment.average.columnName = Avg (Connection Establishments/s)
IceGridGUI.Metrics.ConnectionEstablishment.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.ConnectionEstablishment.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.ConnectionEstablishment.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.ConnectionEstablishment.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.ConnectionEstablishment.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.ConnectionEstablishment.failures.columnName = Failures

#
# EndpointLookup fields
#
IceGridGUI.Metrics.EndpointLookup.fields = id current total average averageLifetime failures

IceGridGUI.Metrics.EndpointLookup.id.columnName = Identity

IceGridGUI.Metrics.EndpointLookup.current.columnName = Current

IceGridGUI.Metrics.EndpointLookup.total.columnName = Total

IceGridGUI.Metrics.EndpointLookup.average.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.EndpointLookup.average.dataField = total
IceGridGUI.Metrics.EndpointLookup.average.columnName = Avg (Endpoint Lookups/s)
IceGridGUI.Metrics.EndpointLookup.average.scaleFactor = 1000.0d

IceGridGUI.Metrics.EndpointLookup.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.EndpointLookup.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.EndpointLookup.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.EndpointLookup.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.EndpointLookup.failures.columnName = Failures

#
# IceStorm Topic fields
#
IceGridGUI.Metrics.Topic.fields = id current total published forwarded averageLifetime failures

IceGridGUI.Metrics.Topic.id.columnName = Identity

IceGridGUI.Metrics.Topic.current.columnName = Current

IceGridGUI.Metrics.Topic.total.columnName = Total

IceGridGUI.Metrics.Topic.published.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Topic.published.dataField = published
IceGridGUI.Metrics.Topic.published.columnName = Published (Req/s)
IceGridGUI.Metrics.Topic.published.scaleFactor = 1000.0d

IceGridGUI.Metrics.Topic.forwarded.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Topic.forwarded.dataField = forwarded
IceGridGUI.Metrics.Topic.forwarded.columnName = Forwarded (Req/s)
IceGridGUI.Metrics.Topic.forwarded.scaleFactor = 1000.0d

IceGridGUI.Metrics.Topic.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Topic.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.Topic.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.Topic.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Topic.failures.columnName = Failures

#
# IceStorm Subscriber fields
#
IceGridGUI.Metrics.Subscriber.fields = id current total queued outstanding delivered averageLifetime failures

IceGridGUI.Metrics.Subscriber.id.columnName = Identity

IceGridGUI.Metrics.Subscriber.current.columnName = Current

IceGridGUI.Metrics.Subscriber.total.columnName = Total

IceGridGUI.Metrics.Subscriber.queued.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Subscriber.queued.dataField = queued
IceGridGUI.Metrics.Subscriber.queued.columnName = Queued (Req/s)
IceGridGUI.Metrics.Subscriber.queued.scaleFactor = 1000.0d

IceGridGUI.Metrics.Subscriber.outstanding.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Subscriber.outstanding.dataField = outstanding
IceGridGUI.Metrics.Subscriber.outstanding.columnName = Outstanding (Req/s)
IceGridGUI.Metrics.Subscriber.outstanding.scaleFactor = 1000.0d

IceGridGUI.Metrics.Subscriber.delivered.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$DeltaAverageMetricsField
IceGridGUI.Metrics.Subscriber.delivered.dataField = delivered
IceGridGUI.Metrics.Subscriber.delivered.columnName = Delivered (Req/s)
IceGridGUI.Metrics.Subscriber.delivered.scaleFactor = 1000.0d

IceGridGUI.Metrics.Subscriber.averageLifetime.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$AverageLifetimeMetricsField
IceGridGUI.Metrics.Subscriber.averageLifetime.scaleFactor = 1000.0d
IceGridGUI.Metrics.Subscriber.averageLifetime.columnName = Avg Lifetime (ms)

IceGridGUI.Metrics.Subscriber.failures.fieldClass = IceGridGUI.LiveDeployment.MetricsViewEditor$FailuresMetricsField
IceGridGUI.Metrics.Subscriber.failures.columnName = Failures
