Source: db5.3
Section: libs
Priority: extra
Maintainer: jose <jose@zeroc.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: Homepage: http://www.oracle.com/technology/software/products/berkeley-db/index.html

Package: libdb5.3
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Berkeley v5.3.21 Database Libraries [runtime]
 This is the runtime package for programs that use the v5.3.21 Berkeley
 database library.

Package: libdb5.3++
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Berkeley v5.3.21 Database Libraries [runtime]
 This is the runtime package for programs that use the v5.3.21 Berkeley
 database library.

Package: libdb5.3-dev
Architecture: any
Section: libsdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libdb5.3 (= ${binary:Version})
Conflicts: libdb4.6-dev, libdb4.7-dev, libdb4.8-dev, libdb5.1-dev, libdb5.2-dev
Replaces: libdb4.6-dev, libdb4.7-dev, libdb4.8-dev, libdb5.1-dev, libdb5.2-dev
Description:  Berkeley v5.3 Database Libraries for C++ [development]
  Berkeley v5.3 Database Libraries for C++ [development]

Package: libdb5.3++-dev
Architecture: any
Section: libsdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libdb5.3 (= ${binary:Version})
Conflicts: libdb4.6++-dev, libdb4.7++-dev, libdb4.8++-dev, libdb5.1++-dev, libdb5.2++-dev
Replaces: libdb4.6++-dev, libdb4.7++-dev, libdb4.8++-dev, libdb5.1++-dev, libdb5.2++-dev
Description:  Berkeley v5.3 Database Libraries for C++ [development]
 Berkeley v5.3 Database Libraries for C++ [development]

Package: libdb5.3-java
Architecture: any
Section: java
Depends: ${shlibs:Depends}, ${misc:Depends}, libdb5.3 (= ${binary:Version})
Conflicts: libdb5.3-java
Replaces: libdb5.3-java
Description: Berkeley v5.3.21 Database Libraries for Java
 This package provides the Java interface for the Berkeley v5.3.21 database
 library.

Package: db5.3-util
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, libdb5.3 (= ${binary:Version})
Conflicts: db5.3-util
Replaces: db5.3-util
Description: Berkeley v5.3.21 Database Utilities
 Berkeley v5.3.21 Database Utilities
