#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CONFIGURE_SWITCHES =    --prefix=/usr --enable-cxx --enable-java \
	--libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

DESTDIR= $(CURDIR)/debian/tmp

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_auto_configure:
	dh_auto_configure -Ddist -Bbuild -- $(CONFIGURE_SWITCHES)

override_dh_auto_clean:
	dh_auto_clean -Ddist -Bbuild

override_dh_auto_install:
	dh_auto_install -Ddist -Bbuild
	cp $(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)/db.jar $(DESTDIR)/usr/lib/$(DEB_HOST_MULTIARCH)/db-5.3.21.jar
	cp $(DESTDIR)/usr/bin/db_checkpoint $(DESTDIR)/usr/bin/db5.3_checkpoint
	cp $(DESTDIR)/usr/bin/db_deadlock $(DESTDIR)/usr/bin/db5.3_deadlock
	cp $(DESTDIR)/usr/bin/db_dump $(DESTDIR)/usr/bin/db5.3_dump
	cp $(DESTDIR)/usr/bin/db_hotbackup $(DESTDIR)/usr/bin/db5.3_hotbackup
	cp $(DESTDIR)/usr/bin/db_load $(DESTDIR)/usr/bin/db5.3_load
	cp $(DESTDIR)/usr/bin/db_log_verify $(DESTDIR)/usr/bin/db5.3_log_verify
	cp $(DESTDIR)/usr/bin/db_printlog $(DESTDIR)/usr/bin/db5.3_printlog
	cp $(DESTDIR)/usr/bin/db_recover $(DESTDIR)/usr/bin/db5.3_recover
	cp $(DESTDIR)/usr/bin/db_replicate $(DESTDIR)/usr/bin/db5.3_replicate
	cp $(DESTDIR)/usr/bin/db_stat $(DESTDIR)/usr/bin/db5.3_stat
	cp $(DESTDIR)/usr/bin/db_tuner $(DESTDIR)/usr/bin/db5.3_tuner
	cp $(DESTDIR)/usr/bin/db_upgrade $(DESTDIR)/usr/bin/db5.3_upgrade
	cp $(DESTDIR)/usr/bin/db_verify $(DESTDIR)/usr/bin/db5.3_verify

override_dh_installdocs:

%:
	dh $@ --with=autotools-dev $(DH_PLUGINS)
