<RuleSet Name="Microsoft.Analyzers.ManagedCodeAnalysis" Description="Microsoft.Analyzers.ManagedCodeAnalysis" ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
      <Rule Id="CA1001" Action="None" /> <!-- TODO review - Types that own disposable fields should be disposable -->
      <Rule Id="CA1028" Action="None" /> <!-- Enum storage should be Int32 -->
      <Rule Id="CA1031" Action="None" /> <!-- Do not catch general exception types -->
      <Rule Id="CA1032" Action="None" /> <!-- Implement standard exception constructors -->
      <Rule Id="CA1034" Action="None" /> <!-- Nested types should not be visible -->
      <Rule Id="CA1051" Action="None" /> <!-- Do not declare visible instance fields -->
      <Rule Id="CA1062" Action="None" /> <!-- Validate arguments of public methods -->
      <Rule Id="CA1303" Action="None" /> <!-- Do not pass literals as localized parameters -->
      <Rule Id="CA1305" Action="None" /> <!-- TODO enable - The behavior of 'string.Format(string, object)' could vary based on the current user's locale settings. -->
      <Rule Id="CA1307" Action="None" /> <!-- TODO enable - Specify StringComparison -->
      <Rule Id="CA1308" Action="None" /> <!-- Normalize strings to uppercase -->
      <Rule Id="CA1710" Action="None" /> <!-- TODO disable on generated code - Identifiers should have correct suffix -->
      <Rule Id="CA1715" Action="None" /> <!-- TODO enable - Prefix generic type parameter with 'T' -->
      <Rule Id="CA1716" Action="None" /> <!-- TODO disable on generated code - Identifiers should not match keywords -->
      <Rule Id="CA1720" Action="None" /> <!-- Identifiers should not contain type names -->
      <Rule Id="CA1724" Action="None" /> <!-- Type names should not match namespaces -->
      <Rule Id="CA2000" Action="None" /> <!-- TODO review - Dispose objects before losing scope -->
      <Rule Id="CA2208" Action="None" /> <!-- Instantiate argument exceptions correctly -->
      <Rule Id="CA2211" Action="None" /> <!-- Non-constant fields should not be visible -->
      <Rule Id="CA2227" Action="None" /> <!-- Collection properties should be read only -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
      <Rule Id="SA1009" Action="None" /> <!-- Closing parenthesis should not be followed by a spac -->
      <Rule Id="SA1013" Action="None" /> <!-- Closing brace should not be preceded by a space -->
      <Rule Id="SA1101" Action="None" /> <!-- Prefix local calls with this -->
      <Rule Id="SA1108" Action="None" /> <!-- Block statements should not contain embedded comments -->
      <Rule Id="SA1116" Action="None" /> <!-- TODO enable - The parameters should begin on the line after the declaration, whenever the parameter span across multiple lines -->
      <Rule Id="SA1118" Action="None" /> <!-- The parameter spans multiple lines -->
      <Rule Id="SA1122" Action="None" /> <!-- Use string.Empty for empty strings -->
      <Rule Id="SA1127" Action="None" /> <!-- Generic type constraints should be on their own line -->
      <Rule Id="SA1129" Action="None" /> <!-- Do not use default value type constructor -->
      <Rule Id="SA1131" Action="None" /> <!-- Constant values should appear on the right-hand side of comparisons -->
      <Rule Id="SA1200" Action="None" /> <!-- Using directive should appear within a namespace declaration -->
      <Rule Id="SA1201" Action="None" /> <!-- Elements must appear in the correct order -->
      <Rule Id="SA1202" Action="None" /> <!-- 'internal' members should come before 'private' members -->
      <Rule Id="SA1203" Action="None" /> <!-- Constant fields should appear before non-constant fields  -->
      <Rule Id="SA1204" Action="None" /> <!-- Static members should appear before non-static members -->
      <Rule Id="SA1208" Action="None" /> <!-- System using directives must be placed before other using directives -->
      <Rule Id="SA1214" Action="None" /> <!-- Readonly fields should appear before non-readonly fields -->
      <Rule Id="SA1306" Action="None" /> <!-- Field names must begin with lower case letter -->
      <Rule Id="SA1309" Action="None" /> <!-- Field names must not begin with underscore -->
      <Rule Id="SA1310" Action="None" /> <!-- Field should not contain an underscore -->
      <Rule Id="SA1314" Action="None" /> <!-- TODO enable - Type parameter names should begin with T -->
      <Rule Id="SA1316" Action="None" /> <!-- TODO enable - Tuple element names should use correct casing -->
      <Rule Id="SA1401" Action="None" /> <!-- Field should be private -->
      <Rule Id="SA1402" Action="None" /> <!-- File may only contain a single type -->
      <Rule Id="SA1403" Action="None" /> <!-- TODO review enable this? - File may only contain a single namespace -->
      <Rule Id="SA1405" Action="None" /> <!-- Debug.Assert should provide message text -->
      <Rule Id="SA1413" Action="None" /> <!-- Use trailing comma in multi-line initializers -->
      <Rule Id="SA1414" Action="None" /> <!-- TODO enable - Tuple types in signatures should have element names -->
      <Rule Id="SA1509" Action="None" /> <!-- Opening braces should not be preceded by blank line -->
      <Rule Id="SA1512" Action="None" /> <!-- Single-line comments should not be followed by blank line -->
      <Rule Id="SA1513" Action="None" /> <!-- Closing brace should be followed by blank line -->
      <Rule Id="SA1514" Action="None" /> <!-- Element documentation header should be preceded by blank line -->
      <Rule Id="SA1515" Action="None" /> <!-- Single-line comment should be preceded by blank line -->
      <Rule Id="SA1516" Action="None" /> <!-- TODO enable - Elements should be separated by blank line -->
      <Rule Id="SA1600" Action="None" /> <!-- TODO enable - Elements should be documented -->
      <Rule Id="SA1601" Action="None" /> <!-- TODO enable - Partial elements should be documented -->
      <Rule Id="SA1602" Action="None" /> <!-- TODO enable Enumeration items should be documented -->
      <Rule Id="SA1611" Action="None" /> <!-- TODO enable - Element parameters must be documented -->
      <Rule Id="SA1615" Action="None" /> <!-- TODO enable - Element return value should be documented -->
      <Rule Id="SA1618" Action="None" /> <!-- TODO enable - The documentation for type parameter 'T' is missing -->
      <Rule Id="SA1623" Action="None" /> <!-- TODO enable - The property's documentation summary text should begin with: 'Gets' -->
      <Rule Id="SA1629" Action="None" /> <!-- TODO enable - Documentation text should end with a period -->
      <Rule Id="SA1642" Action="None" /> <!-- TODO review -  Constructor summary documentation should begin with standard text -->
      <Rule Id="SA1649" Action="None" /> <!-- File name should match first type name -->
  </Rules>
</RuleSet>
