<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage">
                <Configuration>
                    <CodeCoverage>
                        <ModulePaths>
                            <Include>
                                <ModulePath>.*/src/.*\.dll$</ModulePath>
                                <ModulePath>.*/src/.*\.exe$</ModulePath>
                            </Include>
                        </ModulePaths>
                    </CodeCoverage>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
