<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ice"  culture="neutral" publicKeyToken="@PublicKeyToken@"/>
        <codeBase version="3.7.60.0" href="@AssemblyDir@\Ice.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IceBox"  culture="neutral" publicKeyToken="@PublicKeyToken@"/>
        <codeBase version="3.7.60.0" href="@AssemblyDir@\IceBox.dll"/>
      </dependentAssembly>
      <!--
           This allows iceboxnet to load the IceSSL plug-in using a strong name. We omit the
           optional attributes culture and publicKeyToken so they can be also omitted in the
           IceSSL entry point.
      -->
      <dependentAssembly>
        <assemblyIdentity name="IceSSL"/>
        <codeBase version="3.7.60.0" href="@AssemblyDir@\IceSSL.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
