<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zeroc.ice.uwp" version="3.7.0-alpha4" targetFramework="native" />
  <package id="zeroc.ice.uwp.arm" version="3.7.0-alpha4" targetFramework="native" />
  <package id="zeroc.ice.uwp.x64" version="3.7.0-alpha4" targetFramework="native" />
  <package id="zeroc.ice.uwp.x86" version="3.7.0-alpha4" targetFramework="native" />
</packages>