#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,6,4,0
 PRODUCTVERSION 3,6,4,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
 #define INTERNALNAME "iceboxd\0"
 #define ORIGINALFILENAME "iceboxd.exe\0"
#else
 FILEFLAGS 0x0L
 #define INTERNALNAME "icebox\0"
 #define ORIGINALFILENAME "icebox.exe\0"
#endif
 FILEOS 0x4L
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "ZeroC, Inc.\0"
            VALUE "FileDescription", "IceBox C++ Server\0"
            VALUE "FileVersion", "3.6.4\0"
            VALUE "InternalName", INTERNALNAME
            VALUE "LegalCopyright", "\251 2003-2018 ZeroC, Inc.\0"
            VALUE "OriginalFilename", ORIGINALFILENAME
            VALUE "ProductName", "Ice\0"
            VALUE "ProductVersion", "3.6.4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
