*.debhelper
*.log
*.substvars
tmp/*

.gradle/*
.mh/*
debhelper-build-stamp
files
libzeroc-ice-java/*
libzeroc-ice-dev/*
libzeroc-ice3.7-java/*
libzeroc-ice3.7/*
libzeroc-icestorm3.7/*
php-zeroc-ice/*
python-zeroc-ice/*
python3-zeroc-ice/*
zeroc-glacier2/*
zeroc-ice-all-dev/*
zeroc-ice-all-runtime/*
zeroc-ice-compilers/*
zeroc-ice-slice/*
zeroc-ice-utils-java/*
zeroc-ice-utils/*
zeroc-icebridge/*
zeroc-icebox/*
zeroc-icegrid/*
zeroc-icegridgui/*
zeroc-icepatch2/*

