<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="com.zeroc.Slice2JavaPlugin.Slice2JavaBuilder"
         name="Slice2Java Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.zeroc.slice2javaplugin.builder.Slice2JavaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="com.zeroc.Slice2JavaPlugin.Slice2JavaNature"
         name="Slice2Java Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.zeroc.slice2javaplugin.builder.Slice2JavaNature">
         </run>
      </runtime>
      <builder
            id="com.zeroc.Slice2JavaPlugin.Slice2JavaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="Slice2JavaPlugin.contribution1">
         <menu
               id="Slice2JavaPlugin.menu1"
               label="%menu.label.0">
            <separator
                  name="Slice2JavaPlugin.separator1">
            </separator>
         </menu>
         <visibility>
                 <objectState
                  name="projectNature"
                  value="com.zeroc.Slice2JavaPlugin.Slice2JavaNature">
            </objectState>
         </visibility>
         <action
               class="com.zeroc.slice2javaplugin.builder.ToggleNatureAction"
               enablesFor="*"             
               id="com.zeroc.Slice2JavaPlugin.removeNatureAction"
               label="%action.label.0"
               menubarPath="Slice2JavaPlugin.menu1/Slice2JavaPlugin.separator1">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="Slice2JavaPlugin.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="Slice2JavaPlugin.menu2"
               label="%menu.label.1">
            <separator
                  name="Slice2JavaPlugin.separator1">
            </separator>
         </menu>
         <visibility>
                 <not>
            <objectState
                  name="projectNature"
                  value="com.zeroc.Slice2JavaPlugin.Slice2JavaNature">
            </objectState>
            </not>
         </visibility>
         <action
               class="com.zeroc.slice2javaplugin.builder.ToggleNatureAction"
               enablesFor="*"
               id="Slice2JavaPlugin.addNatureAction"
               label="%action.label.1"
               menubarPath="Slice2JavaPlugin.menu2/Slice2JavaPlugin.separator1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.zeroc.slice2javaplugin.properties.ProjectProperties"
            id="Slice2JavaPlugin.properties.ProjectProperties"
            name="%page.name.0">
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject">
                    <test property="org.eclipse.core.resources.projectNature" value="com.zeroc.Slice2JavaPlugin.Slice2JavaNature"/>
                </adapt>
            </enabledWhen>
      </page>
      <page
            class="com.zeroc.slice2javaplugin.properties.SliceFilePropertyPage"
            id="com.zeroc.slice2javaplugin.properties.SliceFilePropertyPage"
            name="%page.name.0"
            nameFilter="*.ice">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IFile">
                  <test property="org.eclipse.core.resources.projectNature" value="com.zeroc.Slice2JavaPlugin.Slice2JavaNature"/>
            </adapt>
         </enabledWhen>
      </page>
   </extension> 
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.zeroc.slice2javaplugin.internal.IceClasspathContainerIntializer"
            id="com.zeroc.Slice2JavaPlugin.ICE_FRAMEWORK">
      </classpathContainerInitializer>
   </extension>
   <extension
           point="org.eclipse.jdt.core.classpathVariableInitializer">
       <classpathVariableInitializer
           variable="ICE_JAR_HOME"
           class="com.zeroc.slice2javaplugin.internal.IceClasspathVariableInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.zeroc.slice2javaplugin.preferences.PluginPreferencePage"
            id="com.zeroc.slice2javaplugin.preferences.PluginPreferencePage"
            name="Slice2Java">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.zeroc.slice2javaplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
            point="org.eclipse.core.runtime.contentTypes">
        <content-type id="Slice"
            name="Slice source file"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="ice"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
        <decorator
            id="com.zeroc.slice2javaplugin.decorator.GeneratedDecorator"
            label="Generated slice2java sources"
            state="true"
            class= "com.zeroc.slice2javaplugin.decorator.GeneratedDecorator"
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true">
            <description>
            Decorator for slice2java generated source code.
            </description>
        </decorator> 
        <decorator
            id="com.zeroc.slice2javaplugin.decorator.SliceDecorator"
            label="Slice sources"
            state="true"
            class= "com.zeroc.slice2javaplugin.decorator.SliceDecorator"
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true">
            <description>
            Decorator for Slice source code.
            </description>
        </decorator> 
   </extension>
</plugin>
