#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,7,54,0
 PRODUCTVERSION 3,7,54,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
 #define INTERNALNAME "IcePy_d\0"
 #define ORIGINALFILENAME "IcePy_d.pyd\0"
#else
 FILEFLAGS 0x0L
 #define INTERNALNAME "IcePy\0"
 #define ORIGINALFILENAME "IcePy.pyd\0"
#endif
 FILEOS 0x4L
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "ZeroC, Inc.\0"
            VALUE "FileDescription", "Ice for Python Extension\0"
            VALUE "FileVersion", "3.7a4\0"
            VALUE "InternalName", INTERNALNAME
            VALUE "LegalCopyright", "Copyright (c) 2003-2016 ZeroC, Inc.  All rights reserved.\0"
            VALUE "OriginalFilename", ORIGINALFILENAME
            VALUE "ProductName", "Ice\0"
            VALUE "ProductVersion", "3.7a4\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
