<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="zeroc.datastorm.v143" version="1.1.0" targetFramework="native" />
  <package id="zeroc.ice.v143" version="3.8.0-alpha0" targetFramework="native" />
  <package id="zeroc.icebuilder.msbuild" version="5.0.9" targetFramework="native" />
</packages>