<?xml version="1.0"?>
  <configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="icesl" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="0.1.0.0" href="../../../../bin/icesl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System" culture="neutral" publicKeyToken="b77a5c561934e089"/>
          <codeBase version="2.1.0.0" href="C:\Program Files\Microsoft Silverlight\system.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Silverlight" culture="neutral" publicKeyToken="b03f5f7f11d50a3a"/>
          <codeBase version="1.0.0.0" href="C:\Program Files\Microsoft Silverlight\system.silverlight.dll"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
