<!--
 **********************************************************************

 Copyright (c) 2003-2005 ZeroC, Inc. All rights reserved.

 This copy of Ice is licensed to you under the terms described in the
 ICE_LICENSE file included in this distribution.

 **********************************************************************
-->

<icepack>

  <server name="${name}" kind="cpp" exe="${ice.dir}/demo/IcePack/simple/server" activation="on-demand">

    <adapters>
      <adapter name="Hello" endpoints="tcp:udp" register="true">
        <object identity="${name}" type="::Demo::Hello"/>
      </adapter>
    </adapters>

    <properties>
      <!-- The identity of the hello object will be the name of the server -->
      <property name="Identity" value="${name}"/>
    </properties>
 
    <target name="debug">
      <properties>
        <property name="Ice.Network.Trace" value="1"/>
        <property name="Ice.Network.Protocol" value="1"/>
      </properties>
    </target>
  
  </server>

</icepack>
