<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="expat.v120" version="2.2.7" targetFramework="native" />
  <package id="expat.v140" version="2.2.7" targetFramework="native" />
  <package id="expat.v141" version="2.2.7" targetFramework="native" />
  <package id="expat.v142" version="2.2.7" targetFramework="native" />
</packages>