#include <IceUtil/ResourceConfig.h>

#ifdef _DEBUG
#   define ICE_INTERNALNAME "icematlab_d\0"
#   define ICE_ORIGINALFILENAME "icematlab_d.dll\0"
#else
#   define ICE_INTERNALNAME "icematlab\0"
#   define ICE_ORIGINALFILENAME "icematlab.dll\0"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION ICE_VERSION
PRODUCTVERSION ICE_VERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
FILEFLAGS VER_DEBUG
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", ICE_COMPANY_NAME
            VALUE "FileDescription", "Ice for Matlab Extension\0"
            VALUE "FileVersion", ICE_STRING_VERSION
            VALUE "InternalName", ICE_INTERNALNAME
            VALUE "LegalCopyright", ICE_COPYRIGHT
            VALUE "OriginalFilename", ICE_ORIGINALFILENAME
            VALUE "ProductName", ICE_PRODUCT_NAME
            VALUE "ProductVersion", ICE_STRING_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
