<server kind="java">

  <classname>Server</classname>

  <target name="manual">
    <activation mode="manual"/>
    <property name="Mode" value="manual"/>
  </target>

  <adapters>
    <adapter name="Server" endpoints="default">
      <offer interface="::Test" identity="${name}"/>
    </adapter>
  </adapters>

  <properties>
    <property name="Type" value="Server"/>
    <property name="Name" value="${name}"/>
    <property name="Ice.Warn.Connection" value="1"/>
  </properties>

</server>