<server kind="java">

  <variable name="var0" value="val0"/>

  <classname>Server</classname>

  <option>--Test.Test=2</option>
  <option>--Test.Test1=0</option>

  <target name="manual">
    <activation mode="manual"/>
    <property name="Mode" value="manual"/>
  </target>

  <adapters>
    <adapter name="Server" endpoints="default" register="true">
      <object identity="${name}" type="::Test"/>
    </adapter>
  </adapters>

  <properties>
    <variable name="var0" value="val0prop"/>
    <property name="Variable" value="${var0}"/>
    <property name="Type" value="Server"/>
    <property name="Name" value="${name}"/>
    <property name="Ice.Warn.Connections" value="1"/>
  </properties>

</server>
