name: "Build Windows Installer"

on:
  workflow_call:
    inputs:
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
        type: string
      authenticode_sign:
        description: "Whether to Authenticode sign Windows binaries"
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
      authenticode_sign:
        description: "Whether to Authenticode sign Windows binaries"
        required: false
        type: boolean
        default: false

jobs:
  build-windows-installer:
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Download Artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name windows-cpp-x64-Release-build --dir cpp
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name icegridgui-jar-Windows --dir java/lib

      - name: Download VC++ Redistributable
        run: |
          New-Item -ItemType Directory -Force -Path packaging\windows-installer\redist
          Invoke-WebRequest -Uri "https://aka.ms/vs/17/release/vc_redist.x64.exe" -OutFile "packaging\windows-installer\redist\vc_redist.x64.exe"
        shell: powershell

      - name: Build MSI
        run: dotnet build -c Release -p:Platform=x64
        working-directory: packaging/windows-installer/msi
        env:
          StagingDir: "${{ github.workspace }}\\staging"

      - name: Sign MSI with Trusted Signing
        if: ${{ inputs.authenticode_sign }}
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-folder: ./packaging/windows-installer/msi/bin/x64/Release/
          files-folder-filter: msi
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Build Bundle
        run: dotnet build -c Release -p:Platform=x64
        working-directory: packaging/windows-installer/bundle

      - name: Sign Bundle installer with Trusted Signing
        if: ${{ inputs.authenticode_sign }}
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-folder: ./packaging/windows-installer/bundle/bin/x64/Release/
          files-folder-filter: exe
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Upload Installer
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: |
            packaging/windows-installer/bundle/bin/x64/Release/*.exe
