name: "Build Brew Bottle"

on:
  workflow_call:
    inputs:
      ice_version:
        required: true
        type: string
      repository_url:
        required: false
        type: string
    secrets:
      REPOSITORY_USERNAME:
        required: false
      REPOSITORY_PASSWORD:
        required: false
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: true
      repository_url:
        description: "The URL of the repository to publish to"
        required: false
        type: string

jobs:
  build-brew-bottle:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Build Brew Bottle
        env:
          ICE_VERSION: ${{ inputs.ice_version }}
        run: ./packaging/brew/build-bottle.sh

      - name: Upload Bottle
        uses: ./.github/actions/upload-nightly
        with:
          upload_file: ./*.bottle.tar.gz
          repository_url: ${{ inputs.repository_url }}
        env:
          REPOSITORY_USERNAME: ${{ secrets.REPOSITORY_USERNAME }}
          REPOSITORY_PASSWORD: ${{ secrets.REPOSITORY_PASSWORD }}
        if: inputs.repository_url != ''

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: homebrew-bottle
          path: ./*.bottle.tar.gz
