name: "Build XCFramework Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
      repository_url:
        required: false
        type: string
      repository_username:
        required: false
        type: string
    secrets:
      REPOSITORY_PASSWORD:
        required: false
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to use"
        required: false
        type: string
      repository_url:
        description: "The URL of the repository to publish to"
        required: false
        type: string
      repository_username:
        description: "The username to authenticate with the repository"
        required: false
        type: string

jobs:
  build-xcfranework-packages:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Setup Cache
        uses: ./.github/actions/setup-cache
        with:
          prefix: build-xcframework-packages

      - name: Build XCFramework Packages
        run: make OPTIMIZE=yes PLATFORMS="all" CONFIGS="static" srcs
        working-directory: cpp

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xcframework-packages
          path: cpp/lib/XCFrameworks/*

      - name: Publish XCFrameworks
        run: |
          cd cpp/lib/XCFrameworks
          for dir in *.xcframework; do
            framework_name=$(basename $dir)
            framework_zip=${framework_name/.xcframework/-${{inputs.ice_version}}.xcframework.zip}
            zip -r $framework_zip $dir

            echo "Uploading $framework_zip"
            curl -u "${{ inputs.repository_username }}:${{ secrets.REPOSITORY_PASSWORD }}" \
              --upload-file "$framework_zip" \
              --output /dev/null \
              --silent \
              --fail \
              --show-error \
              ${{ inputs.repository_url }}/nightly/ || { echo "Upload failed"; exit 1; }
          done
        if: inputs.repository_url != ''
