name: "Build C++ NuGet Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: false
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true

jobs:
  build-cpp-nuget-packages:
    runs-on: windows-2022
    strategy:
      matrix:
        platform-toolset: [v143, v142]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Download C++ Binaries
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name windows-cpp-${{ matrix.platform-toolset }}-x64-Release-build --dir cpp
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name windows-cpp-${{ matrix.platform-toolset }}-x64-Debug-build --dir cpp
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name windows-cpp-${{ matrix.platform-toolset }}-Win32-Release-build --dir cpp
          gh run download "${{ inputs.run_id }}" --repo ${{ github.repository }} --name windows-cpp-${{ matrix.platform-toolset }}-Win32-Debug-build --dir cpp

      - name: Ice Package Version
        if: ${{ inputs.ice_version != '' }}
        run: |
          "IcePackageVersion=${{ inputs.ice_version }}" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh

      - name: Build C++ NuGet Packages
        run: msbuild /m ice.proj /t:NuGetPack /p:BuildAllConfigurations=yes /p:DefaultPlatformToolset=${{ matrix.platform-toolset }}
        working-directory: cpp/msbuild

      - name: Upload NuGet Packages
        uses: actions/upload-artifact@v4
        with:
          name: windows-cpp-nuget-packages
          path: |
            cpp/msbuild/ZeroC.Ice.Cpp/*.nupkg
