name: "Build .NET Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
      authenticode_sign:
        description: "Whether to Authenticode sign Windows binaries"
        required: false
        type: boolean
        default: false
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: false
      authenticode_sign:
        description: "Whether to Authenticode sign Windows binaries"
        required: false
        type: boolean
        default: false
jobs:
  pack-dotnet:
    runs-on: windows-2022

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Required to build the Slice compilers, and to get MSBuild.
      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Ice Package Version
        if: ${{ inputs.ice_version != '' }}
        run: |
          $nuspecPath = "csharp\msbuild\zeroc.ice.net.nuspec"
          $nuspec = Get-Content $nuspecPath
          $nuspec -replace '<version>.*</version>', '<version>${{ inputs.ice_version }}</version>' `
            | Set-Content $nuspecPath
        shell: pwsh

      - name: Pack .NET Packages
        run: |
          msbuild csharp\msbuild\ice.proj /t:BuildDist /p:Configuration=Release /p:Platform=x64

      - name: Collect Files to Sign
        if: ${{ inputs.authenticode_sign }}
        shell: pwsh
        run: |
          $root = "${{ github.workspace }}"

          Get-ChildItem -Path "$root\cpp\bin", "$root\csharp\lib", "$root\csharp\bin" `
            -Recurse `
            -Include *.dll,*.exe `
            -File | `
          ForEach-Object { $_.FullName.Substring($root.Length + 1) } | `
          Sort-Object -Unique |
          Set-Content -Path "$root\catalog.txt" -Encoding UTF8

      - name: Sign .NET Assemblies with Trusted Signing
        if: ${{ inputs.authenticode_sign }}
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-catalog: ${{ github.workspace }}\catalog.txt
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Pack .NET Packages
        run: msbuild csharp\msbuild\ice.proj /t:NugetPack /p:Configuration=Release /p:Platform=x64

      - name: Upload NuGet Packages
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-nuget-packages
          path: |
            csharp/msbuild/zeroc.ice.net/*.nupkg
            csharp/msbuild/zeroc.ice.net/*.snupkg
