name: "Build Ice C++ Dependencies for Swift"

on:
  workflow_call:
    inputs:
      ice_version:
        required: true
        type: string
      channel:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version number to use"
        required: true
      channel:
        description: "The channel to publish to (e.g., 3.8, nightly)"
        required: true

permissions:
  contents: write

jobs:
  build-ice-cpp-swift-deps:
    runs-on: macos-26

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Set Version (For Nightly Builds)
        run: |
          echo "ICE_VERSION=${{inputs.ice_version}}" >> $GITHUB_ENV
        if: ${{ inputs.ice_version != '' }}

      - name: Set Version (For Release Builds)
        run: |
          source config/version.env
          echo "ICE_VERSION=${VERSION}" >> $GITHUB_ENV
        if: ${{ inputs.ice_version == '' }}

      - name: Build XCFramework Packages
        run: make OPTIMIZE=yes PLATFORMS="all" CONFIGS="static" srcs
        working-directory: cpp

      - name: Create XCFrameworks Zip archives
        run: |
          for dir in *.xcframework; do
            framework_name=$(basename $dir)
            framework_zip=${framework_name/.xcframework/-${ICE_VERSION}.xcframework.zip}
            zip -r $framework_zip $dir
          done
        working-directory: cpp/lib/XCFrameworks

      - name: Create slice2swift Artifact Bundle Zip archive
        run: mv slice2swift.artifactbundle.zip slice2swift-${ICE_VERSION}.artifactbundle.zip
        working-directory: cpp/bin

      - name: Upload XCFramework Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: xcframework-packages
          path: cpp/lib/XCFrameworks/*.zip

      - name: Upload slice2swift Artifact Bundle
        uses: actions/upload-artifact@v4
        with:
          name: slice2swift-artifactbundle
          path: cpp/bin/slice2swift-*.artifactbundle.zip
