name: "Build GEM Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
      repository_url:
        required: false
        type: string
    secrets:
      REPOSITORY_USERNAME:
        required: false
      REPOSITORY_PASSWORD:
        required: false
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: false
      repository_url:
        description: "The URL of the GEM repository to publish to"
        required: false
        type: string

jobs:
  build-gem-packages:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Install Build Dependencies
        run: gem install rake

      - name: Update GEM Version
        working-directory: ruby
        run: sed -i "s/spec.version.*/spec.version = '${{ inputs.ice_version }}'/" ice.gemspec
        if: inputs.ice_version != ''

      - name: Build GEM Package
        working-directory: ruby
        run: rake

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gem-packages
          path: ruby/zeroc-ice-${{ inputs.ice_version }}.gem

      - name: Publish GEM Packages
        run: |
           curl -u "${REPOSITORY_USERNAME}:${REPOSITORY_PASSWORD}" \
             --upload-file ruby/zeroc-ice-${{ inputs.ice_version }}.gem \
             --output /dev/null \
             --silent \
             --fail \
             --show-error \
             ${{ inputs.repository_url }} || { echo "Upload zeroc-ice-${{ inputs.ice_version }}.gem failed"; exit 1; }
        if: inputs.repository_url != ''
