name: "Build Brew Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: true
        type: string
      repository_url:
        required: false
        type: string
      repository_username:
        required: false
        type: string
    secrets:
      REPOSITORY_PASSWORD:
        required: false
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version number to use"
        required: true
      repository_url:
        description: "The URL of the repository to publish to"
        required: false
        type: string
      repository_username:
        description: "The username to authenticate with the repository"
        required: false
        type: string

jobs:
  build-brew-packages:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Dependencies
        uses: ./.github/actions/setup-dependencies

      - name: Tap Nightly Repository
        env:
            NIGHTLY_URL: "https://download.zeroc.com/nexus/repository/nightly/homebrew-nightly.git"
        run: |
          if git ls-remote $NIGHTLY_URL; then
            brew tap zeroc-ice/nightly $NIGHTLY_URL
          fi

      - name: Create Nightly Tap
        run: ./packaging/brew/create-tap.sh "zeroc-ice/nightly" "${{ inputs.ice_version }}"

      - name: Create Brew bottle
        run: |

          # Install the Ice formula and build the bottle
          brew install --build-bottle zeroc-ice/nightly/ice
          brew bottle zeroc-ice/nightly/ice --root-url="${{ inputs.repository_url }}/nightly" --json
          # Merge the bottle JSON files into formula
          brew bottle --merge ./ice--*.bottle.json --write

          # Rename file to fix `--`. See https://github.com/orgs/Homebrew/discussions/4541
          for file in ice--*.bottle.tar.gz; do
            mv "$file" "${file/--/-}"
          done

      - name: Create Bare Tap Repository
        run: |

          # Create a bare repository for the tap
          git clone --bare $(brew --repo zeroc-ice/nightly) homebrew-nightly.git
          cd homebrew-nightly.git
          # Update auxiliary info file to help dumb servers
          git update-server-info
        if: inputs.repository_url != ''

      - name: Upload Nightly Tap
        run: |

          # Upload bottle
          curl -u "${{ inputs.repository_username }}:${{ secrets.REPOSITORY_PASSWORD }}" \
            --ftp-create-dirs \
            --upload-file ice-*.bottle.tar.gz \
            --output /dev/null \
            --silent \
            --fail \
            --show-error \
            ${{ inputs.repository_url }}/nightly/ || { echo "Upload failed"; exit 1; }

          # Upload tap
          cd homebrew-nightly.git
          find . -type f | while IFS= read -r file; do
            curl -u "${{ inputs.repository_username }}:${{ secrets.REPOSITORY_PASSWORD }}" \
                --ftp-create-dirs \
                --upload-file "$file" \
                --output /dev/null \
                --silent \
                --fail \
                --show-error \
                ${{ inputs.repository_url }}/nightly/homebrew-nightly.git/$file || { echo "Upload failed"; exit 1; }
          done
        if: inputs.repository_url != ''

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: homebrew-bottle
          path: ./*.bottle.tar.gz
