name: "Build Windows Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: false

jobs:
  build-cpp-nuget-package:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Build C++ Binaries
        run: msbuild /m ice.proj /t:BuildDist /p:BuildAllConfigurations=yes
        working-directory: cpp/msbuild

      - name: Sign C++ Binaries with Trusted Signing
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-folder: ./cpp/bin
          files-folder-recurse: true
          files-folder-filter: exe,dll
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Ice Package Version
        if: ${{ inputs.ice_version != '' }}
        run: |
          "IcePackageVersion=${{ inputs.ice_version }}" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh

      - name: Build C++ NuGet Packages
        run: msbuild /m ice.proj /t:Pack /p:BuildAllConfigurations=yes
        working-directory: cpp/msbuild

      - name: Build IceGrid GUI
        run: |
          nuget restore ..\cpp\msbuild\ice.sln
          MSBuild ..\cpp\msbuild\ice.sln /t:"slice2java;ice2slice" /p:Configuration=Release /p:Platform=x64
          ./gradlew.bat dist -PcppPlatform=x64 -PcppConfiguration=Release
        working-directory: java

      # MSI packaging depends on VCInstallDir to locate The C++ merge modules
      - name: Add VCInstallDir to Environment
        run: |
          $vsPath = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" -latest -property installationPath
          echo "VCInstallDir=$vsPath\VC" | Out-File -FilePath $env:GITHUB_ENV -Append
        shell: powershell

      - name: Build MSI
        run: dotnet build -c Release -p:Platform=x64
        working-directory: packaging/msi
        env:
          StagingDir: "${{ github.workspace }}\\staging"

      - name: Sign MSI installer with Trusted Signing
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-folder: ./packaging/msi/bin/x64/Release/
          files-folder-filter: msi
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      # Upload artifacts
      - name: Upload MSI
        uses: actions/upload-artifact@v4
        with:
          name: windows-msi
          path: |
            packaging/msi/bin/x64/Release/*.msi

      - name: Upload NuGet Packages
        uses: actions/upload-artifact@v4
        with:
          name: windows-cpp-nuget-packages
          path: |
            cpp/msbuild/ZeroC.Ice.Cpp/*.nupkg
