name: "Build PIP Packages"

on:
  workflow_call:
    inputs:
      ice_version:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      ice_version:
        description: "The Ice version to build"
        required: false

jobs:
  build-sdist:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Install Build Dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install build
          python3 -m pip install toml

      - name: Update PYPI Version
        run: python3 packaging/pypi/update_version.py ${{ inputs.ice_version }} python/pyproject.toml
        if: inputs.ice_version != ''

      - name: Build Source Distribution
        working-directory: python
        run: python3 -m build --sdist

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: pip-sdist
          path: python/dist/zeroc_ice-*.tar.gz

  build-bdist:
    needs: build-sdist
    strategy:
      matrix:
        include:
          - os: macos-26
            python-version: "3.12"

          - os: macos-26
            python-version: "3.13"

          - os: macos-26
            python-version: "3.14"

          - os: windows-2022
            python-version: "3.12"

          - os: windows-2022
            python-version: "3.13"

          - os: windows-2022
            python-version: "3.14"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp
        with:
          profile: pip-bdist

      - name: Setup Python
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download sdist
        uses: actions/download-artifact@v4
        with:
          name: pip-sdist
          path: sdist

      - name: Build Wheel from sdist (Unix)
        if: runner.os != 'Windows'
        run: |
          python -m pip install --upgrade pip
          pip wheel sdist/*.tar.gz --no-deps -w dist/

      - name: Build Wheel from sdist (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          pip wheel (Get-ChildItem sdist\*.tar.gz).FullName --no-deps -w dist/

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pip-packages-${{ matrix.os }}-${{ matrix.python-version }}
          path: dist/zeroc_ice-*.whl
