name: CI

on:
  workflow_dispatch:
  push:
    branches: ["3.7"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["3.7"]

# See https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  ci:
    name: ${{ matrix.config }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Release builds
          - os: ubuntu-24.04
            config: release
          - os: windows-2025
            config: release
          - os: macos-26
            config: release

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup PHP
        uses: ./.github/actions/setup-php

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Set Build Configurations
        run: echo "CONFIGS=shared cpp11-shared" >> $GITHUB_ENV
        shell: bash
        if: runner.os != 'Windows'

      - name: Build ${{ matrix.config }} on ${{ matrix.os }}
        uses: ./.github/actions/build
        timeout-minutes: 90

      - name: Install testing dependencies from pip
        run: python3 -m pip install passlib cryptography numpy
        shell: bash

      - name: Test ${{ matrix.config }} on ${{ matrix.os }}
        uses: ./.github/actions/test
        timeout-minutes: 45
        with:
          flags: "--all"

      - name: Test C++11 on ${{ matrix.os }}
        uses: ./.github/actions/test
        timeout-minutes: 45
        with:
          working_directory: cpp
          flags: >-
            --all
            --config ${{ runner.os == 'Windows' && 'Cpp11-Release' || 'cpp11-shared' }}
