name: CI

on:
  workflow_dispatch:
  push:
    branches: ["3.7"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["3.7"]

# See https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  # Configure the various build systems to treat warnings as errors
  WARNINGS_AS_ERRORS: yes

jobs:
  ci:
    name: ${{ matrix.config }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Release builds
          - os: ubuntu-24.04
            config: release

          - os: windows-2025
            config: release
            build_flags: "/p:Platform=x64 /p:Configuration=Release"

          - os: macos-26
            config: release

          # C++11 release builds
          - os: ubuntu-24.04
            config: cpp11-release
            build_flags: "CONFIGS=cpp11-shared"
            test_flags: "--config=cpp11-shared"
            working_directory: cpp

          - os: windows-2025
            config: cpp11-release
            msbuild_project: "msbuild/ice.proj"
            build_flags: "/t:BuildCpp11 /p:Platform=x64 /p:Configuration=Release"
            test_flags: "--platform=x64 --config Cpp11-Release"
            working_directory: cpp

          - os: macos-26
            config: cpp11-release
            build_flags: "CONFIGS=cpp11-shared"
            test_flags: "--config=cpp11-shared"
            working_directory: cpp

          # MATLAB
          - os: ubuntu-24.04
            config: "matlab"

            # We need both configurations:
            # - shared: for Python C++98 based mapping
            # - cpp11-shared: for MATLAB C++11 based mapping
            build_flags: "CONFIGS='shared cpp11-shared'"
            working_directory: matlab
            build_cpp_and_python: true

          - os: windows-2025
            config: "matlab"
            working_directory: matlab
            build_flags: "/p:Platform=x64 /p:Configuration=Release"
            msbuild_project: "msbuild/ice.proj"
            test_flags: "--platform=x64"
            build_cpp_and_python: true

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup PHP
        uses: ./.github/actions/setup-php

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Setup MATLAB
        uses: ./.github/actions/setup-matlab
        if: matrix.config == 'matlab'

      - name: Build ${{ matrix.config }} on ${{ matrix.os }}
        uses: ./.github/actions/build
        with:
          cpp11_mapping: ${{ matrix.config == 'cpp11-release' && 'true' || 'false' }}
          working_directory: ${{ matrix.working_directory }}
          build_flags: ${{ matrix.build_flags  }}
          msbuild_project: ${{ matrix.msbuild_project }}
          build_cpp_and_python: ${{ matrix.build_cpp_and_python }}
        timeout-minutes: 90

      - name: Install testing dependencies from pip
        run: python3 -m pip install passlib cryptography numpy
        shell: bash

      - name: Test ${{ matrix.config }} on ${{ matrix.os }}
        uses: ./.github/actions/test
        timeout-minutes: 45
        with:
          flags: ${{ matrix.test_flags || '' }}
          working_directory: ${{ matrix.working_directory || '.' }}

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        with:
          name: test-logs-${{ matrix.config }}-${{ matrix.os }}
          path: ${{ '.' }}/**/*.log
          if-no-files-found: ignore
        if: always()

      - name: Upload macOS crash diagnostics
        uses: actions/upload-artifact@v4
        with:
          name: crash-diagnostics-${{ matrix.config }}-${{ matrix.os }}
          path: ~/Library/Logs/DiagnosticReports/*.ips
          if-no-files-found: ignore
        if: runner.os == 'macOS' && always()
