name: C++
on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]

jobs:
  clang-format:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Clang Format
        run: |
          # This LLVM script will add the relevant LLVM PPA: https://apt.llvm.org/
          wget https://apt.llvm.org/llvm.sh -O /tmp/llvm.sh
          chmod +x /tmp/llvm.sh
          sudo /tmp/llvm.sh 19
          sudo apt-get install -y clang-format-19
          rm /tmp/llvm.sh
          clang-format-19 --version
        if: runner.os == 'Linux'

      - name: Run Clang Format
        run: |
          find . -name "*.h" -o -name "*.c" -o -name "*.cpp" -o -name "*.mm" | xargs clang-format-19 --style=file --fallback-style=none --Werror --dry-run
          find cpp -name "*.m" | xargs clang-format-19 --style=file --fallback-style=none --Werror --dry-run

  clang-tidy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Ice
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Cache
        uses: ./.github/actions/setup-cache
        with:
          prefix: clang-tidy

      - name: Install clang-tidy
        run: |
          # This LLVM script will add the relevant LLVM PPA: https://apt.llvm.org/
          wget https://apt.llvm.org/llvm.sh -O /tmp/llvm.sh
          chmod +x /tmp/llvm.sh
          sudo /tmp/llvm.sh 19
          sudo apt-get install -y clang-tidy-19
          rm /tmp/llvm.sh
          clang-tidy-19 --version

      - name: Install bear
        run: |
          sudo apt-get update
          sudo apt-get install -y bear
          bear --version

      - name: Build Ice
        timeout-minutes: 90
        working-directory: cpp
        run: bear -- make

      - name: Select files to check
        uses: tj-actions/glob@v22
        id: glob
        with:
          files: |
            **/*.cpp
          excluded-files: |
            **/generated/*.cpp
          working-directory: cpp

      - name: Run Clang Tidy
        working-directory: cpp
        run: |
          echo "Running clang-tidy on ${{ steps.glob.outputs.paths }}"
          run-clang-tidy-19 -j$(nproc) -quiet ${{ steps.glob.outputs.paths }}
