name: Prune Nightly Artifacts

on:
  workflow_dispatch:
  workflow_call:

jobs:
    prune-nightly-artifacts:
        runs-on: ubuntu-24.04

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Prune nightly artifacts
            run: |
              chmod +x ./packaging/release/prune-nightly-artifacts.sh
              ./packaging/release/prune-nightly-artifacts.sh
