name: Prune Nightly Artifacts

on:
  workflow_dispatch:
  workflow_call:

jobs:
    prune-nightly-artifacts:
        runs-on: ubuntu-24.04

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Prune nightly artifacts
            env:
              DRY_RUN: '0'
              AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            run: |
              chmod +x ./packaging/release/prune-nightly-artifacts.sh
              ./packaging/release/prune-nightly-artifacts.sh
