name: "Publish MSI Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  publish-msi-packages:
    name: "Publish MSI Packages"
    runs-on: "ubuntu-24.04"
    steps:
      - name: Download MSI artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "windows-msi" --dir staging

      - name: Publish MSI Packages
        run: |
          if [ "${QUALITY}" = "stable" ]; then
            UPLOAD_PATH="ice/${CHANNEL}"
            aws s3 cp staging/windows-msi/*.msi "s3://zeroc-downloads/${UPLOAD_PATH}/"
          else
            UPLOAD_PATH="ice/${QUALITY}/${CHANNEL}"
            # Rename the MSI file for non-stable releases to include the quality in the filename
            aws s3 cp staging/windows-msi/*.msi "s3://zeroc-downloads/${UPLOAD_PATH}/Ice-${QUALITY}.msi"
          fi

        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          CHANNEL: ${{ inputs.channel }}
          QUALITY: ${{ inputs.quality }}
