name: "Publish Brew Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  publish-brew-packages:
    name: "Publish Brew Packages"
    runs-on: macos-26
    # Stable Brew releases must be published manually.
    if: ${{ inputs.quality == 'nightly' }}
    env:
      CHANNEL: ${{ inputs.channel }}
      QUALITY: ${{ inputs.quality }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Homebrew Bottle XCFramework artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "homebrew-bottle" --dir staging

      - name: Publish Homebrew Bottle Packages
        run: |
          if [ "${QUALITY}" = "stable" ]; then
            UPLOAD_PATH="ice/${CHANNEL}"
          else
            UPLOAD_PATH="ice/${QUALITY}/${CHANNEL}"
          fi
          aws s3 sync staging/homebrew-bottle/ "s3://zeroc-downloads/${UPLOAD_PATH}/" --exclude "*" --include "*.tar.gz"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Clone Repository
        run: |
          git clone "https://x-access-token:${{ secrets.ICE_NIGHTLY_PUBLISH_TOKEN }}@github.com/zeroc-ice/homebrew-nightly.git" -b main

      - name: Publish Homebrew Patch
        run: |
          # Configure git for pushing the patch
          git config user.name "ZeroC"
          git config user.email "git@zeroc.com"
          # Apply and commit the patch created during the brew package build
          git am "${GITHUB_WORKSPACE}/staging/homebrew-bottle/"ice-*.patch
          # Push the updated formula
          git push origin main || { echo "Push failed"; exit 1; }
        working-directory: homebrew-nightly
