name: "Publish NuGet Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  publish:
    name: "Publish NuGet Packages"
    runs-on: ubuntu-24.04

    steps:
      - name: Download NuGet artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo ${{ github.repository }} --pattern "*-nuget-packages" --dir staging

      - name: Publish NuGet Packages
        run: |
          case "$QUALITY" in
            "stable")
              SOURCE_URL="https://api.nuget.org/v3/index.json"
              NUGET_API_KEY="${RELEASE_NUGET_API_KEY}"
              ;;
            *)
              SOURCE_URL="https://download.zeroc.com/nexus/repository/nuget-${CHANNEL}-${QUALITY}/"
              NUGET_API_KEY="${NEXUS_NIGHTLY_NUGET_API_KEY}"
              ;;
          esac

          # Collect all packages. The symbol package ".snupkg" files are published automatically with the main package
          # no need to push them separately.
          mapfile -t packages < <(find staging -type f -name "*.nupkg")

          # Push each package to the appropriate NuGet repository
          for package in "${packages[@]}"; do
            echo "Publishing package: $package"
            dotnet nuget push "$package" --source "$SOURCE_URL" --api-key "$NUGET_API_KEY"
          done
        env:
          CHANNEL: ${{ inputs.channel }}
          QUALITY: ${{ inputs.quality }}
          NEXUS_NIGHTLY_NUGET_API_KEY: ${{ secrets.NEXUS_NIGHTLY_NUGET_API_KEY }}
          RELEASE_NUGET_API_KEY: ${{ secrets.RELEASE_NUGET_API_KEY }}
