name: "Publish Java Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The channel to publish to (e.g., 3.8, nightly)"
        required: true
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  build:
    name: "Publish Maven Packages"
    runs-on: ubuntu-24.04
    env:
      STAGING_DIR: ${{ github.workspace }}/staging

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Java artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          set -euo pipefail
          mkdir -p "${STAGING_DIR}"
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "java-packages" --dir "${STAGING_DIR}"
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "slice-tools-packages" --dir "${STAGING_DIR}"

      - name: Publish Nightly Java Packages
        run: packaging/maven/publish-maven-release.sh
        if: ${{ inputs.channel == 'nightly' }}
        env:
          CHANNEL: ${{ inputs.channel }}
          MAVEN_USERNAME: "nightly"
          MAVEN_PASSWORD: ${{ secrets.NEXUS_NIGHTLY_PASSWORD }}
          GPG_KEY: ${{ secrets.ICE_3_8_CI_SIGNER_KEY }}
          GPG_KEY_ID: ${{ secrets.ICE_3_8_CI_SIGNER_KEY_ID }}

      - name: Publish 3.8Java Packages
        run: packaging/maven/publish-maven-release.sh
        if: ${{ inputs.channel != 'nightly' }}
        env:
          CHANNEL: ${{ inputs.channel }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_API_KEY }}
          MAVEN_BEARER_AUTH_TOKEN: ${{ secrets.MAVEN_CENTRAL_BEARER_AUTH_TOKEN }}
          GPG_KEY: ${{ secrets.ICE_3_8_CI_SIGNER_KEY }}
          GPG_KEY_ID: ${{ secrets.ICE_3_8_CI_SIGNER_KEY_ID }}

      - name: Clean Credentials
        if: always()
        run: rm -f ~/.m2/settings.xml
