name: "Publish RPM Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  build:
    name: "Publish RPM Packages for ${{ matrix.distribution }}"
    runs-on: 'ubuntu-24.04'
    strategy:
      matrix:
        include:
          - distribution: el9
          - distribution: el10
          - distribution: amzn2023
    env:
      DISTRIBUTION: ${{ matrix.distribution }}
      CHANNEL: ${{ inputs.channel }}
      MCPP_VERSION: v2.7.2.20
    steps:
      - name: Download RPM artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          # Download RPM artifacts from the specified run.
          echo "Downloading Ice RPMs from current run..."
          gh run download "$RUN_ID" \
            --repo zeroc-ice/ice \
            --pattern "rpm-packages-${DISTRIBUTION}-*" \
            --dir staging

          # If building for RHEL 9 or 10, also download MCPP RPMs.
          if [[ "$DISTRIBUTION" == "rhel9" || "$DISTRIBUTION" == "rhel10" ]]; then
            echo "Also downloading MCPP RPMs for $DISTRIBUTION..."

            # MCPP channel is 3.7 for Ice 3.7, 3.8 for all others
            if [[ "$CHANNEL" == "3.7" ]]; then
              MCPP_CHANNEL="3.7"
            else
              MCPP_CHANNEL="3.8"
            fi

            gh release download "$MCPP_VERSION" \
              --repo zeroc-ice/mcpp \
              --pattern "rpm-packages-${MCPP_CHANNEL}-${DISTRIBUTION}-*" \
              --dir staging/mcpp

            # gh doesn't automatically extract release downloads
            pushd staging/mcpp > /dev/null
            unzip -q "rpm-packages-${MCPP_CHANNEL}-${DISTRIBUTION}-*.zip"
            popd > /dev/null
          fi

      - name: Create RPM repository
        run: |
          if [ "${QUALITY}" = "stable" ]; then
            UPLOAD_PATH="ice/${CHANNEL}/${DISTRIBUTION}"
          else
            UPLOAD_PATH="ice/${QUALITY}/${CHANNEL}/${DISTRIBUTION}"
          fi

          echo "Syncing current repository from S3..."
          mkdir -p "${DISTRIBUTION}"
          aws s3 sync "s3://zeroc-downloads/${UPLOAD_PATH}" "${DISTRIBUTION}"

          echo "Creating/updating repository with new RPMs..."
          docker_args=(
            --rm
            -v "$GITHUB_WORKSPACE:/workspace"
            -e GPG_KEY="${GPG_KEY}"
            -e GPG_KEY_ID="${GPG_KEY_ID}"
            ghcr.io/zeroc-ice/rpm-repo-builder:${CHANNEL}
          )
          docker run "${docker_args[@]}" /usr/local/bin/create-rpm-repo \
            --staging /workspace/staging/ \
            --repository "/workspace/${DISTRIBUTION}"

          echo "Uploading updated repository to S3..."
          # We add the repo package to --exclude to avoid deleting it, this package is built by
          # the build-rpm-ice-repo-packages workflow
          aws s3 sync \
            "${DISTRIBUTION}" \
            "s3://zeroc-downloads/${UPLOAD_PATH}" \
            --delete \
            --exclude "ice-repo-*.noarch.rpm"
        env:
          CHANNEL: ${{ inputs.channel }}
          QUALITY: ${{ inputs.quality }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GPG_KEY: ${{ secrets.ICE_3_8_CI_SIGNER_KEY }}
          GPG_KEY_ID: ${{ secrets.ICE_3_8_CI_SIGNER_KEY_ID }}
