name: "Publish PIP Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.7)"
        required: true
        default: "3.7"
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  build:
    name: "Publish Python PIP Packages"
    runs-on: ubuntu-24.04

    steps:
      - name: Download PIP artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "pip-packages-*" --dir staging

      - name: Publish PIP Package
        run: |
          case "$QUALITY" in
            "stable")
              REPOSITORY_URL="https://upload.pypi.org/legacy/"
              export TWINE_USERNAME="__token__"
              export TWINE_PASSWORD="${RELEASE_PYPI_AUTH_TOKEN}"
              ;;
            *)
              REPOSITORY_URL="https://download.zeroc.com/nexus/repository/pypi-${CHANNEL}-${QUALITY}/"
              export TWINE_USERNAME="nightly"
              export TWINE_PASSWORD="${NEXUS_NIGHTLY_PASSWORD}"
              ;;
          esac

          mkdir -p dist
          # Collect all matching package files into dist/
          find staging -name 'zeroc_ice-*' -type f -exec cp -vf {} dist/ \;

          # Upload using Twine in a fresh venv
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip twine
          twine upload --verbose --repository-url "${REPOSITORY_URL}" dist/*
        env:
          CHANNEL: ${{ inputs.channel }}
          QUALITY: ${{ inputs.quality }}
          NEXUS_NIGHTLY_PASSWORD: ${{ secrets.NEXUS_NIGHTLY_PASSWORD }}
          RELEASE_PYPI_AUTH_TOKEN: ${{ secrets.RELEASE_PYPI_AUTH_TOKEN }}
