name: "Publish Swift Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:

  publish-swift-packages:
    name: "Publish Swift Packages"
    runs-on: macos-26
    # Stable Swift releases must be published manually.
    if: ${{ inputs.quality == 'nightly' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download SPM sources artifact
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo zeroc-ice/ice --pattern "spm-sources" --dir staging

      - name: Extract SPM sources
        id: extract-spm-sources
        run: |
          # Find the spm-sources tar.gz file and extract the version from the filename
          tarball=(staging/spm-sources/spm-sources-*.tar.gz)
          version=${tarball##*/}
          version=${version#spm-sources-}
          version=${version%.tar.gz}
          echo "version=$version" >> "$GITHUB_OUTPUT"
          tar -xzvf "$tarball" -C packaging/swift

      - name: Create ice-swift repository
        run: ./update-ice-swift-nightly.sh
        working-directory: packaging/swift
        env:
          ICE_NIGHTLY_PUBLISH_TOKEN: ${{ secrets.ICE_NIGHTLY_PUBLISH_TOKEN }}
          CHANNEL: ${{ inputs.channel }}
          VERSION: ${{ steps.extract-spm-sources.outputs.version }}
