name: "Publish NPM Packages"

on:
  workflow_dispatch:
    inputs:
      channel:
        description: "The release channel (e.g., 3.9, 3.8)"
        required: true
      quality:
        description: "Release quality (e.g., stable, nightly, RC)"
        required: true
        default: "nightly"
      run_id:
        description: "The run ID to use for downloading artifacts"
        required: true
  workflow_call:
    inputs:
      channel:
        required: true
        type: string
      quality:
        required: true
        type: string
      run_id:
        required: true
        type: string

jobs:
  publish:
    name: "Publish NPM Packages"
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download NPM artifacts
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUN_ID: ${{ inputs.run_id }}
        run: |
          gh run download "$RUN_ID" --repo ${{ github.repository }} --pattern "js-npm-packages" --dir staging

      - name: Publish Nightly NPM Packages
        if: ${{ inputs.quality != 'stable' }}
        run: |
          REPOSITORY_PREFIX="//download.zeroc.com/nexus/repository/npm-${CHANNEL}-${QUALITY}/"
          # Reference the env var in .npmrc using \$ so NPM reads it at publish time
          echo "${REPOSITORY_PREFIX}:_auth=\${NEXUS_NIGHTLY_NPM_AUTH_TOKEN}" > ~/.npmrc
          echo "always-auth=true" >> ~/.npmrc

          mapfile -t packages < <(find staging -type f -name "*.tgz")
          for pkg in "${packages[@]}"; do
            echo "Publishing package: $pkg"
            npm publish "$pkg" --registry "https:${REPOSITORY_PREFIX}"
          done
        env:
          CHANNEL: ${{ inputs.channel }}
          QUALITY: ${{ inputs.quality }}
          NEXUS_NIGHTLY_NPM_AUTH_TOKEN: ${{ secrets.NEXUS_NIGHTLY_NPM_AUTH_TOKEN }}

      - uses: actions/setup-node@v4
        if: ${{ inputs.quality == 'stable' }}
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish Release NPM Packages
        if: ${{ inputs.quality == 'stable' }}
        run: |
          mapfile -t packages < <(find staging -type f -name "*.tgz")
          for pkg in "${packages[@]}"; do
            echo "Publishing package: $pkg"
            npm publish "$pkg" --provenance
          done
