name: Python

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Install Ruff
        run: pip install ruff

      - name: Ruff check
        run: ruff check . --ignore E402

      - name: Ruff format
        run: ruff format . --check --diff

  pyright:
    name: Pyright
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup C++
        uses: ./.github/actions/setup-cpp

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Install Python dependencies
        run: python -m pip install pyright numpy cryptography setuptools

      - name: Build Ice for Python
        run: |
          make -C cpp srcs
          make -C python

      - name: Pyright check
        run: |-
          pyright python
