name: Whitespace

on:
  workflow_dispatch:
  push:
    branches: ["3.8"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["3.8"]

jobs:
  whitespace-validation:
    name: Validate trailing whitespace and consecutive empty lines
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run whitespace validation
        uses: zeroc-ice/github-actions/@main
        with:
          whitespace_patterns: "'*'"
