<?xml version="1.0"?>
  <configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="glacier2cs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/glacier2cs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="icecs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/icecs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="icepatch2cs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/icepatch2cs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="icestormcs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/icestormcs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="iceboxcs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/iceboxcs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="icegridcs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/icegridcs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="icesslcs" culture="neutral" publicKeyToken="1f998c50fec78381"/>
          <codeBase version="3.2.0.0" href="../../../bin/icesslcs.dll"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
